/** General scoring and popup, confirmed that it's a shop **/

#shopping {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#rating {
    margin-bottom: 24px;
    margin-top: 16px;
    background: #89a387;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;
}

#overallScore {
    padding-top: 30px;
    padding-bottom: 8px;
    font-size: 2.8em;
    color: #fff;
}

#badgeDisplayer {
    position: absolute;
    top: 36px;
    right: 175px;
    font-size: 0.5em;
    padding: 4px 6px;
    margin-bottom: 4px;
    border-radius: 50px;
    background: #05668D;
    color: #fff;
    text-align: right;
    cursor: pointer;
}

#badgeDisplayer.tooltip .tooltiptext {
    margin-left: -60px;
    margin-top: 20px;
}

#badges {
    position: absolute;
    top: 160px;
    left: 8px;
    width: 280px;
    /* background: green; */
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#bcorp, #bluesign, #blackowned, #blmsupport, #vegan, #leapingbunny {
    /* display: none; */
    max-width: 100px;
    font-size: 0.5em;
    padding: 4px;
    margin-bottom: 12px;
    margin-right: 30px;
    border-radius: 50px;
    background: #05668D;
    color: #fff;
}

#bcorp:hover, #bluesign:hover, #blackowned:hover, #blmsupport:hover, #vegan:hover, #leapingbunny:hover {
    background: #2482a7;
}

#bcorp.tooltip .tooltiptext, #bluesign.tooltip .tooltiptext, #blackowned.tooltip .tooltiptext, #blmsupport.tooltip .tooltiptext, #vegan.tooltip .tooltiptext, #leapingbunny.tooltip .tooltiptext {
    max-width: 60px;
    margin-left: -60px;
    margin-top: 20px;
}

#bcorp.trueForPage, #vegan.trueForPage {
    display: block;
    width: 30px;
}

#bluesign.trueForPage {
    display: block;
    width: 40px;
}

#blackowned.trueForPage, #leapingbunny.trueForPage {
    display: block;
    width: 60px;
}

#blmsupport.trueForPage {
    display: block;
    width: 50px;
}

#shopDataUnavailable #badges {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 165px;
}

#shopDataUnavailable #badges h6 {
    margin-right: 8px;
}

#shopDataUnavailable #hasBadge h2 {
    color: #89a387;
}

/** Badge Overlay **/

#popupMain.badgesExpanded {
    background: #c6d4c5;
}

#popupMain.badgesExpanded #badgeDisplayer, #popupMain.badgesExpanded #detailsButton {
    background: #0A2342;
}

#popupMain.badgesExpanded #badgeDisplayer:hover, #popupMain.badgesExpanded #detailsButton:hover {
    background: rgb(37, 69, 112);
}

#popupMain.badgesExpanded #scores {
    opacity: 0;
}

#popupMain.badgesExpanded #badges {
    display: flex;
    z-index: 1;
}

#popupMain.badgesExpanded #menuBacking {
    background: rgba(198, 212, 197, 0.75);
}


/** Specific scores **/

#scores {
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.label {
    margin-bottom: 12px;
}

.label:last-child {
    margin-bottom: 0;
}

.label p {
    margin-bottom: 6px;
    font-size: 12px;
}

.label p:last-child {
    margin-bottom: 0;
}

.label div {
    display: flex;
}

.label div .scorebar, .label div .scorebarFill {
    display: block;
    width: 200px;
    height: 6px;
    background: #c6d4c5;
    border-radius: 100px;
}

.label div .scorebarFill {
    display: block;
    position: relative;
    top: -6px;
    background: #89a387;
}

.label div p {
    margin-left: 14px;
}

#detailsButton {
    align-self: flex-end;
    padding: 6px;
    font-size: 12px;
}


/** Sponsored **/

#sponsor {
    width: 100%;
    margin-top: 24px;
    display: none;
}

#sponsor div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#sponsoredImg {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.sponsorRating {
    position: absolute;
    right: 50px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 8px;
    padding: 4px;
    border-radius: 100px;
    background: #aaa;
    color: #fff;
    text-align: center;
    z-index: 1;
}

#sponsoredBy {
    position: absolute;
    top: 0;
    width: 160px;
    height: 160px;
    line-height: 160px;
    font-size: 0.8em;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    -webkit-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -webkit-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
}

#sponsor div:hover #sponsoredBy {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -webkit-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
}
