#badges {
    position: absolute;
    top: 160px;
    left: 8px;
    width: 280px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

#badges.lessThanThreeBadges {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 32px;
    left: -165px;
    font-size: 0.5em;
    padding: 4px 6px;
}

#bcorp, #bluesign, #blackowned, #blmsupport, #vegan, #leapingbunny {
    display: none;
    max-width: 100px;
    font-size: 0.5em;
    padding: 4px;
    margin-bottom: 12px;
    margin-right: 30px;
    border-radius: 50px;
    background: #05668D;
    color: #fff;
    cursor: pointer;
}

#bcorp:hover, #bluesign:hover, #blackowned:hover, #blmsupport:hover, #vegan:hover, #leapingbunny:hover {
    background: #2482a7;
}

#bcorp.tooltip .tooltiptext, #bluesign.tooltip .tooltiptext, #blackowned.tooltip .tooltiptext, #blmsupport.tooltip .tooltiptext, #vegan.tooltip .tooltiptext, #leapingbunny.tooltip .tooltiptext {
    max-width: 60px;
    margin-left: -60px;
    margin-top: 20px;
}

#bcorp.trueForPage, #vegan.trueForPage {
    display: block;
    width: 30px;
}

#bluesign.trueForPage {
    display: block;
    width: 40px;
}

#blackowned.trueForPage, #leapingbunny.trueForPage {
    display: block;
    width: 60px;
}

#blmsupport.trueForPage {
    display: block;
    width: 50px;
}

#shopDataUnavailable #badges {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 165px;
}

#shopDataUnavailable #badges h6 {
    margin-right: 8px;
}

#shopDataUnavailable #hasBadge h2 {
    color: #89a387;
}
