body {
    font-family: sans-serif;
    width: 260px;
    padding: 36px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background: #FFFCF2;
    color: #0A2342;
}

#extension {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    z-index: 0;
}

#menuPanel {
    display: none;
    position: absolute;
    width: 80%;
    height: 100%;
    z-index: 1;
}

#menuBacking {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 252, 242, 0.6);
    z-index: 1;
}

#menuPanel.menuClicked {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menu {
    position: absolute;
    right: 36px;
    top: 36px;
    z-index: 1;
}

#menuPanel button#somethingWrong {
    margin-top: 44px;
    background: #E07A5F;
}

#menuPanel button {
    margin-top: 16px;
    z-index: 2;
}


/** Not a Shop **/

#shopping, #notShopMessage, #shopDataUnavailable {
    display: block;
}

#notShopMessage h2, #shopDataUnavailable h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    margin-bottom: 16px;
    font-weight: 700;
    color: #E07A5F;
}

#notShopMessage p, #shopDataUnavailable p {
    line-height: 1.4em;
}


/** General scoring and popup, confirmed that it's a shop **/

#shopping {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#rating {
    margin-bottom: 24px;
    background: #89a387;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    text-align: center;
}

#overallScore {
    padding-top: 30px;
    padding-bottom: 8px;
    font-size: 2.8em;
    color: #fff;
}

#badges {
    position: absolute;
    width: 60px;
    top: 16px;
    left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}

#bcorp, #bluesign, #blackowned, #blmsupport {
    display: none;
    font-size: 0.5em;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 50px;
    background: #05668D;
    color: #fff;
}

#bcorp.trueForPage {
    display: block;
    width: 30px;
}

#bluesign.trueForPage {
    display: block;
    width: 40px;
}

#blackowned.trueForPage{
    display: block;
    width: 60px;
}

#blmsupport.trueForPage{
    display: block;
    width: 50px;
}

#shopDataUnavailable #badges{
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 165px;
}

#shopDataUnavailable #badges h6{
    margin-right: 8px;
}

#shopDataUnavailable #hasBadge h2{
    color: #89a387;
}

/** Specific scores **/

#scores {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.label {
    margin-bottom: 16px;
}

.label:last-child {
    margin-bottom: 0;
}

.label p {
    margin-bottom: 8px;
    font-size: 0.8em;
}

.label p:last-child {
    margin-bottom: 0;
}

.label div {
    display: flex;
}

.label div .scorebar, .label div .scorebarFill {
    display: block;
    width: 200px;
    height: 8px;
    background: #c6d4c5;
    border-radius: 100px;
}

.label div .scorebarFill {
    display: block;
    position: relative;
    top: -8px;
    background: #89a387;
}

.label div p {
    margin-left: 24px;
}

button#detailsButton {
    align-self: flex-end;
    padding: 8px;
}


/** Sponsored **/

#sponsor {
    width: 100%;
    margin-top: 24px;
    display: none;
}

#sponsor div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#sponsoredImg {
    width: 160px;
    height: 160px;
    object-fit: cover;
}

.sponsorRating {
    position: absolute;
    right: 50px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 8px;
    padding: 4px;
    border-radius: 100px;
    background: #aaa;
    color: #fff;
    text-align: center;
    z-index: 1;
}

#sponsoredBy {
    position: absolute;
    top: 0;
    width: 160px;
    height: 160px;
    line-height: 160px;
    font-size: 0.8em;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    -webkit-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -webkit-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
}

#sponsor div:hover #sponsoredBy {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    -webkit-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition: all 200ms cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -webkit-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -moz-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    -o-transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
    transition-timing-function: cubic-bezier(0.815, 0.015, 0.750, 0.750);
}


/** Typography **/

h3 {
    text-align: center;
    margin-bottom: 1em;
}

button {
    border-radius: 100px;
    border: none;
    background: #05668D;
    outline: none;
    padding: 5px;
}

button:hover {
    background: rgba(12, 123, 167, 0.8)
}

#menuPanel button#somethingWrong:hover {
    background: rgba(224, 122, 95, 0.8);
}

button a {
    color: #FFFCF2;
    text-decoration: none;
    padding: 5px;
}

h6 a {
    color: #FFFCF2;
    text-decoration: none;
}

#left p, #right p {
    padding: 5px;
    text-decoration: none;
    color: #000;
}

/** Images and ToolTip **/

#shoppingBagImg{
    display: block;
    margin: 16px auto 0 auto;
    width: 120px;
    height: 120px;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    background: #0A2342;
    color: #c6d4c5;
    padding: 8px;
    border-radius:8px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#subscoreTip{
    position: absolute;
    max-width: 100px;
    font-size: 12px;
    cursor: default;
}
