#partners section {
    display: flex;
    justify-content: space-between;
}

#partners article {
    position: relative;
    background: #FFFCF2;
    padding: 24px 24px 48px 24px;
    border-radius: 20px;
    width: 49%;
}

#partners article {
    width: 31%;
    font-size: 14px;
}

#partners section {
    display: flex;
    flex-wrap: wrap;
}

#partners article {
    width: 49%;
    margin-bottom: 16px;
    background: #C9D4C6;
}

#partners article span {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    border-radius: 20px;
    overflow: hidden;
}

#partners article span img {
    width: 100%;
    margin-top: -50%;
}
 
#partners #uncommonGoods span img {
    margin-top: 0;
} 

#partners #madeTrade span img, 
#partners #tentree span img,
#partners #truEarth span img,
#partners #pela span img {
    margin-top: -20%;
}

#partners .readmore a {
    background: #2B6589;
}

/*** Queries *****************************************************/

@media screen and (max-width: 870px) {
    #partners article span {
        height: 172px;
    }
}

@media screen and (max-width: 768px) {
    #partners section {
        flex-direction: column;
    }
    #partners article {
        width: 100%;
        margin-bottom: 24px;
    }
    #partners article span {
        height: 200px;
    }
    #partners #madeTrade span img {
        margin-top: -30%;
    }
    #partners #uncommonGoods span img {
        margin-top: -50%;
    }
}

@media screen and (max-width: 450px) {
    #partners #madeTrade span img, 
    #partners #uncommonGoods span img,
    #partners #pela span img {
        margin-top: -20%;
    }
    
    #partners #tentree span img {
        margin-top: -30%;
    }
}
