html {
    scroll-behavior: smooth;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #8EA289;
    color: #102340;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-thumb {
    background: #FEFCF280;
    padding: 0 4px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #0000;
}

header, nav, #intro, #howToUse, #news, #featured, footer {
    position: relative;
}

.container {
    position: relative;
    margin: auto;
    max-width: 960px;
    padding: 81px 30px;
}

.half, .threes {
    display: flex;
    justify-content: space-between;
}

.half article {
    width: 48%;
}

.threes {
    margin-bottom: 48px;
}

.threes:last-of-type {
    margin-bottom: 0;
}

.gallery {
    width: 66%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.gallery.halfWidth img {
    width: 48%;
}

.gallery img {
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.imageDesc {
    width: 31%;
}


/*** Ethicli Buttons *****************************************************/

#mainCTA {
    position: fixed;
    bottom: 36px;
    right: 30px;
    border-radius: 100px;
    background-color: #D27F65;
    z-index: 2;
    filter: drop-shadow(0px 1px 8px rgba(16, 35, 64, 0.3));
}

#mainCTA:hover {
    background-color: #f0a38c;
}

#mainCTA a {
    padding: 10px;
    line-height: 2em;
    font-size: 1.8em;
    font-weight: 700;
    color: #FFFCF2;
}

#countdownPrompt {
    position: fixed;
    right: -40px;
    top: 120px;
    display: flex;
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

#countdownPrompt.hide {
    right: -300px;
}

#ogplantdude {
    transform: rotate(-20deg);
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

#countdownPrompt.hide #ogplantdude {
    transform: rotate(20deg);
}

#countdownPrompt p {
    display: block;
	position: relative;
    background: #FEFCF2;
    color: #2B6589;
    border-radius: 20px;
    margin: 30px 8px auto 0;
    padding: 8px;
    max-width: 100px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    hyphens: none;
}

#countdownPrompt p:after {
    content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #FEFCF2;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}

#ogplantdude:hover {
    -webkit-animation: wiggle 0.5s infinite;
    -moz-animation: wiggle 0.5s infinite;
    animation: wiggle 0.5s infinite;
}

/* safari and chrome */
@-webkit-keyframes wiggle {
	0% {-webkit-transform:rotate(-20deg);}
	50% {-webkit-transform:rotate(-22deg);}
	100% {-webkit-transform:rotate(-18deg);}
}

/* firefox */
@-moz-keyframes wiggle {
	0% {-moz-transform:rotate(-20deg);}
	50% {-moz-transform:rotate(-22deg);}
	100% {-moz-transform:rotate(-18deg);}
}

/* anyone brave enough to implement the ideal method */
@keyframes wiggle {
	0% {transform:rotate(-20deg);}
	50% {transform:rotate(-22deg);}
	100% {transform:rotate(-18deg);}
}

/*** Nav **************************************************************/

nav {
    position: fixed;
    width: 100vw;
    z-index: 3;
    height: 0;
    top:-200px;
}

nav .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0 38px;
}

#navlinks {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 36px;
    height: 48px;
}

nav a {
    display: block;
    border-radius: 100px;
    margin-left: 16px;
    padding: 16px;
    background: #102340;
    color: #FFFCF2;
}

nav a:hover {
    background: #2B6589;
}

#triplebar {
    display: none;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

.submenu.submenuClicked {
    top: 0;
    height: 200px;
    opacity: 1;
    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

.submenu a {
    position: relative;
    margin-top: 20px;
    padding: 12px;
    text-align: end;
    margin-left: auto;
}

.dropdownIcon.dropped {
    display: inline-block;
    transform: rotate(180deg);
}

/*** Body Content **************************************************************/

header {
    background: #C9D4C6;
    min-height: 768px;
}

#privacy header, #shops header, #partners header, #faq header, #press header, #uninstall header {
    min-height: 200px;
    padding-top: 24px;
}

#headerInfo {
    position: absolute;
    padding: 30px;
    right: 0;
    width: 56%;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}

#intro {
    background-image: url("../images/background-intro.jpg");
    background-position: center;
    background-size: cover;
}

#howToUse {
    background: #00213f;
}

#news {
    background-image: url("../images/background-news.jpg");
    background-position: center;
    background-size: cover;
}

#featured {
    background: #C9D4C6;
}

.basicbody {
    background: #aebeaa;
}

.basicbody section {
    margin-bottom: 60px;
}

#uninstallform, #uninstallform iframe {
    justify-content: center;
    min-height: 1160px;
    height: 100%;
}

#optinButtonGroup {
    display: flex;
}

/*** Footer *****************************************************/

footer {
    background: #8EA289;
    position: relative;
}

footer .container {
    padding: 48px 30px 40px 30px;
    display: flex;
}

footer aside {
    display: flex;
    flex-direction: column;
}

.socials {
    margin-top: -4px;
}

.socials li {
    margin: 0 16px 5px 0;
}

footer a {
    margin: 0 16px 8px 0;
}

footer .container div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    margin: auto;
    right: 30px;
    text-align: right;
}

footer .container div:last-of-type a {
    margin: 0;
}

footer p {
    margin-top: 16px;
}

.fa-envelope {
    margin-left: -1px;
    height: 24px;
}

#backToTop {
    background: #C9D4C6;
    border-radius: 20px;
    margin-left: auto;
}

#backToTop a {
    margin: 4px;
    line-height: 24px;
    color: #102340;
}

#california{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 0.85em;
}


/*** News and Featured Sections *****************************************************/

#news section, #featured section {
    display: flex;
    justify-content: space-between;
}

#news article, #featured article {
    position: relative;
    background: #FFFCF2;
    padding: 24px 24px 48px 24px;
    border-radius: 20px;
    width: 49%;
}

#news article {
    width: 31%;
    font-size: 14px;
}

#featured article {
    width: 31%;
    background: rgba(16, 35, 64, 0.5);
}

.readmore {
    position: absolute;
    bottom: 24px;
    right: 24px;
    margin-bottom: 0;
}

.readmore a, #news .readmore a {
    border-radius: 100px;
    padding: 8px 10px;
    background: rgba(142, 162, 137, 0.8);
    color: #FFFCF2;
    font-size: 14px;
}

/*** Mailing List *****************************************************/

form {
    width: 100%;
    padding: 24px;
    margin-top: 48px;
    border-radius: 20px;
    background: #102340;
    display: flex;
    display: none;
}

input {
    margin: auto 24px;
    border: 1px solid #102340;
    border-radius: 8px;
    padding: 8px;
    flex: 1;
    background: #C9D4C6;
    color: #2B6589;
}

input:focus {
    outline: none !important;
    border: 1px solid #2B6589;
    box-shadow: 0 0 10px #2B6589;
}

#mailingListSubmit {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background:#2B6589;
    color: #FEFCF2;
    border-radius: 20px;
    cursor: pointer;
}


/*** Typography and Buttons *******************************************/

h1 {
    font-size: 5em;
    font-weight: 500;
    margin: 48px 0;
}

h2 {
    font-size: 3.375em;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 48px;
}

header h2 {
    margin: 48px 0;
}

h3 {
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 16px;
}

#faq .basicbody h3 {
    font-size: 1.8em;
}

#news h3, #featured h3 {
    font-size: 1.25em;
}

article h3 {
    font-size: 1.6em;
}

form h3 {
    margin-bottom: 0;
}

h4 {
    font-size: 1.4em;
    margin: 24px 0 16px 0;
    font-weight: 500;
}

p, ul {
    line-height: 1.5em;
    margin-bottom: 16px;
}

#privacy .basicbody p, #privacy .basicbody ul li {
    font-size: 0.85em;
}

#privacy .basicbody ul li {
    list-style-type: circle;
    line-height: 1.5em;
    opacity: 0.6;
}

.disclaimer {
    line-height: 1.5em;
    font-size: 0.85em;
    opacity: 0.6;
    max-width: 80%;
}

#press .basicbody ul li {
    list-style-type: circle;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    cursor: pointer;
    color:#2B6589;
}

a:hover {
    color: #D27F65;
}

em {
    font-weight: 700;
}

.readmore:hover, #backToTop:hover, #pitchdeck:hover, .featuredButton:hover {
    opacity: 0.8;
}

.break {
    display: none;
}

.break2 {
    display: block;
}

#quote {
    position: absolute;
    right: 30px;
    margin-top: 36px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.colorBlue, #news p {
    color: #2B6589;
}

.colorDark, header p, #news h3 {
    color: #102340;
}

#pitchdeck, .featuredButton {
    display: inline-block;
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 100px;
    background: #D27F65;
    color: #FEFCF2;
}

#howToUse p, #news a {
    color: #8EA289;
}

.colorLGreen, #intro p, #howToUse h3, #featured p, #featured form h3, footer p, footer a:hover {
    color: #C9D4C6;
}

.colorCream, nav a:hover, .featuredButton:hover, #featured h3, .readmore:hover a, footer a {
    color: #FEFCF2;
}

::selection {
    background: #2B6589;
    color: #FEFCF2;
}


/*** Images and Video *****************************************************/

#logo {
    position: absolute;
    top: 236px;
    left: 22px;
    background: none;
    margin: 0;
    padding: 0;
}

#logo img {
    width: 50px;
    margin: 0;
    background: none;
}

#logo img:hover {
    opacity: 0.8;
}

#headerExtension {
    position: absolute;
    width: 39%;
    border-radius: 20px;
    margin-top: 30px;
}

#minutepitch {
    margin: 30px auto;
    width: 100%;
    height: 460px;
}

#minutepitch iframe {
    max-width: 820px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#press .gallery {
    margin-top: 24px;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: flex-start;
}

#press .gallery img {
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 400px;
    margin: 0 16px 16px 0;
    border-radius: 8px;
}

#press .gallery.mediaAssets img {
    max-height: 200px;
}

/*** Queries *****************************************************/

@media screen and (max-width: 768px) {
    #triplebar {
        display: block;
    }
    #navlinks {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #navlinks a {
        display: none;
        margin-top: 16px;
    }
    #navlinks.navClicked a {
        display: block;
    }
    .half, .threes, #news section, #featured section {
        flex-direction: column;
    }
    #headerInfo, .half article, .threes article, #news article, #featured article {
        width: 100%;
    }
    #news article, #featured article {
        margin-bottom: 24px;
    }
    #news article:last-child, #featured article:last-child {
        margin-bottom: 0;
    }
    .gallery {
        margin: 24px 0;
    }
    #headerExtension, #headerInfo {
        position: relative;
        padding: 0;
    }
    #headerExtension {
        display: block;
        margin: 81px auto 0 auto;
        width: 300px;
    }
    .disclaimer {
        max-width: 100%;
    }
    .break2 {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    #mainCTA {
        font-size: 0.7em;
    }
    footer {
        padding-bottom: 54px;
    }
    #termsBar {
        display: none;
    }
    .break {
        display: inline;
    }
}
