html {
    scroll-behavior: smooth;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #8EA289;
    color: #102340;
}

header, nav, #intro, #howToUse, #news, #featured, footer {
    position: relative;
}

.container {
    position: relative;
    margin: auto;
    max-width: 960px;
    padding: 81px 30px;
}

.half, .threes {
    display: flex;
    justify-content: space-between;
}

.half article {
    width: 48%;
}

.threes {
    margin-bottom: 48px;
}

.threes:last-of-type {
    margin-bottom: 0;
}

.gallery {
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.gallery.halfWidth img {
    width: 48%;
}

.gallery img {
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

.imageDesc {
    width: 31%;
}


/*** Ethicli Button *****************************************************/

#mainCTA {
    position: fixed;
    bottom: 36px;
    right: 30px;
    border-radius: 100px;
    background-color: #D27F65;
    z-index: 1;
    filter: drop-shadow(0px 1px 10px rgba(16, 35, 64, 0.3));
}

#mainCTA:hover {
    background-color: #f0a38c;
}

#mainCTA a {
    padding: 10px;
    line-height: 2em;
    font-size: 1.8em;
    font-weight: 700;
    color: #FFFCF2;
}


/*** Nav **************************************************************/

nav {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

nav .container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 36px 30px;
}

#navlinks {
    display: flex;
    align-items: flex-start;
}

nav a {
    display: block;
    border-radius: 100px;
    margin-left: 24px;
    padding: 16px;
    background: #102340;
    color: #FFFCF2;
}

nav a:hover {
    background: #2B6589;
}

#triplebar {
    display: none;
}

.submenu {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -10px;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

.submenu.submenuClicked {
    top: 0;
    opacity: 1;
    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

.submenu a {
    position: relative;
    margin-top: 20px;
    padding: 12px;
    text-align: end;
    margin-left: auto;
}

.dropdownIcon.dropped {
    display: inline-block;
    transform: rotate(180deg);
}

/*** Body Content **************************************************************/

header {
    background: #C9D4C6;
    min-height: 768px;
}

#privacy header, #faq header {
    min-height: 200px;
}

#headerInfo {
    position: absolute;
    padding: 30px;
    right: 0;
    width: 56%;
    hyphens: none;
}

#intro {
    background-image: url("../images/background-intro.png");
    background-position: center;
    background-size: cover;
}

#howToUse {
    background: #00213f;
}

#news {
    background-image: url("../images/background-news.png");
    background-position: center;
    background-size: cover;
}

#featured {
    background: #C9D4C6;
}

.basicbody {
    background: #aebeaa;
}

.basicbody section {
    margin-bottom: 60px;
}

#optinButtonGroup {
    display: flex;
}

/*** Footer *****************************************************/

footer {
    background: #8EA289;
    position: relative;
}

footer .container {
    padding: 48px 30px 40px 30px;
    display: flex;
}

footer aside {
    display: flex;
    flex-direction: column;
}

.socials li {
    margin: 0 16px 5px 0;
}

footer a {
    margin: 0 16px 8px 0;
}

footer .container div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    margin: auto;
    right: 30px;
    text-align: right;
}

footer .container div:last-of-type a {
    margin: 0;
}

footer p {
    margin-top: 16px;
}

#backToTop {
    background: #C9D4C6;
    border-radius: 20px;
    margin-left: auto;
}

#backToTop a {
    margin: 4px;
    line-height: 24px;
    color: #102340;
}

#california{
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 0.85em;
}


/*** News and Featured Sections *****************************************************/

#news section, #featured section {
    display: flex;
    justify-content: space-between;
}

#news article, #featured article {
    position: relative;
    background: #FFFCF2;
    padding: 24px 24px 48px 24px;
    border-radius: 20px;
    width: 31%;
}

#featured article {
    background: rgba(16, 35, 64, 0.5);
}

.readmore {
    position: absolute;
    bottom: 24px;
    right: 24px;
    margin-bottom: 0;
}

.readmore a, #news .readmore a {
    border-radius: 100px;
    padding: 8px 10px;
    background: rgba(142, 162, 137, 0.8);
    color: #FFFCF2;
    font-size: 0.8em;
}

/*** Mailing List *****************************************************/

form {
    width: 100%;
    padding: 24px;
    margin-top: 48px;
    border-radius: 20px;
    background: #102340;
    display: flex;
    display: none;
}

input {
    margin: auto 24px;
    border: 1px solid #102340;
    border-radius: 8px;
    padding: 8px;
    flex: 1;
    background: #C9D4C6;
    color: #2B6589;
}

input:focus {
    outline: none !important;
    border: 1px solid #2B6589;
    box-shadow: 0 0 10px #2B6589;
}

#mailingListSubmit {
    display: flex;
    align-items: center;
    padding: 0 16px;
    background:#2B6589;
    color: #FEFCF2;
    border-radius: 20px;
    cursor: pointer;
}


/*** Typography and Buttons *******************************************/

h1 {
    font-size: 5em;
    font-weight: 500;
    margin: 48px 0;
}

h2 {
    font-size: 3.375em;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 48px;
}

header h2 {
    margin: 48px 0;
}

h3 {
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 16px;
}

#news h3, #featured h3 {
    font-size: 1.25em;
}

article h3 {
    font-size: 1.6em;
}

form h3 {
    margin-bottom: 0;
}

h4 {
    font-size: 1.4em;
    margin: 24px 0 16px 0;
    font-weight: 500;
}

p, ul {
    line-height: 1.5em;
    margin-bottom: 16px;
}

#privacy .basicbody p, #privacy .basicbody ul li {
    font-size: 0.85em;
}

#privacy .basicbody ul li {
    list-style-type: circle;
    line-height: 1.5em;
    opacity: 0.6;
}

a {
    text-decoration: none;
    cursor: pointer;

    color:#2B6589;
}

a:hover {
    color: #D27F65;
}

em {
    font-weight: 700;
}

.readmore:hover, #backToTop:hover, #pitchdeck:hover {
    opacity: 0.8;
}

.break {
    display: none;
}

.break2 {
    display: block;
}

#quote {
    position: absolute;
    right: 30px;
    margin-top: 36px;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

.colorBlue, #news p {
    color: #2B6589;
}

.colorDark, header p, #news h3 {
    color: #102340;
}

#pitchdeck {
    display: inline-block;
    margin-top: 16px;
    padding: 12px 16px;
    border-radius: 100px;
    background: #D27F65;
}

#howToUse p, #news a {
    color: #8EA289;
}

.colorLGreen, #intro p, #howToUse h3, #featured p, #featured form h3, footer p, footer a:hover {
    color: #C9D4C6;
}

.colorCream, nav a:hover, #pitchdeck, #faq #pitchdeck, #featured h3, .readmore:hover a, footer a {
    color: #FEFCF2;
}

::selection {
    background: #2B6589;
    color: #FEFCF2;
}


/*** welcome/Tutorial *****************************************************/

#welcome header {
    min-height: 0;
}

#privacyPolicyDescription {
    width: 50%;
}

#tutorial {
    width: 330px;
    height: 400px;
    background: #FEFCF2;
    position: fixed;
    top: 0;
    right: 106px;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    overflow: hidden;

    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

#tutorial.hideTutorial {
    top: -600px;
}

#tutorial.hideTutorial.tutorialHeightAdjust {
    top: -376px;
}

#hideTutorial {
    position: absolute;
    bottom: -2px;
    width: 100%;
    padding: 8px;
    background: #70856b;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#hideTutorial:hover{
    background: #8EA289;
}

#tutorial #hideTutorial:after {
    content: "Hide Tutorial";
}

#tutorial.hideTutorial #hideTutorial:after {
    content: "Show Tutorial";
}

#tutorialHome {
    height: 100%;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#tutorialHome div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#watchTutorial, #optinDeclined, #optinAccepted{
    display: block;
    padding: 8px 12px; 
    background: #00213f;
    margin: 0 auto 24px auto;
    border-radius: 100px;
    color: #FEFCF2;
    font-size: 14px;
    cursor: pointer;
}

#watchTutorial:hover, #optinDeclined:hover, #optinAccepted:hover {
    opacity: 0.8;
}

#optinDeclined{
    margin: 0;
    background: #D27F65;
}

#optinAccepted {
    margin: 0 0 0 24px;
}

#watchTutorial{
    background: #8EA289;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

#tutorialHome #shoppingbag {
    animation: 1.5s cubic-bezier(0.500, 0.025, 0.500, 1.000) 0s 1 slideUp;
    position: absolute;
    bottom: -60px;
    left: 24px;
}

#tutorialScreens {
    display: none;
    position: absolute;
    top: 0;
}

#tutorialScreens img {
    width: 100%;
}

#tutorialNavigation {
    position: absolute;
    bottom: 12px;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

#tutorialBack, #tutorialNext, #tutorialBack::selection, #tutorialNext::selection {
    padding: 4px 8px; 
    border-radius: 100px;
    background: #f0a38c;
    color: #FEFCF2;
    font-size: 14px;
    cursor: pointer;
}

#tutorialNext {
    background: #D27F65;
}

#confettiLogo {
    width: 50px;
    margin: 8px auto 0 auto;
    cursor: pointer;
}

/*** Images *****************************************************/

#logo {
    position: absolute;
    left: 30px;
    background: none;
    margin: 0;
    padding: 0;
}

#logo img {
    width: 50px;
    margin: 0;
    background: none;
}

#logo img:hover {
    opacity: 0.8;
}

#headerExtension {
    position: absolute;
    width: 39%;
    border-radius: 20px;
    margin-top: 30px;
}


/*** Queries *****************************************************/

@media screen and (max-width: 768px) {
    #triplebar {
        display: block;
    }
    #navlinks {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #navlinks a {
        display: none;
        margin-top: 16px;
    }
    #navlinks.navClicked a {
        display: block;
    }
    .half, .threes, #news section, #featured section {
        flex-direction: column;
    }
    #headerInfo, .half article, .threes article, #news article, #featured article {
        width: 100%;
    }
    #news article, #featured article {
        margin-bottom: 24px;
    }
    #news article:last-child, #featured article:last-child {
        margin-bottom: 0;
    }
    .gallery {
        margin: 24px 0;
    }
    #headerExtension, #headerInfo {
        position: relative;
        padding: 0;
    }
    #headerExtension {
        display: block;
        margin: 81px auto 0 auto;
        width: 300px;
    }
    .break2 {
        display: none;
    }
    #privacyPolicyDescription {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    #mainCTA {
        font-size: 0.7em;
    }
    footer {
        padding-bottom: 54px;
    }
    #termsBar {
        display: none;
    }
    .break {
        display: inline;
    }
}
