/*** welcome/Tutorial *****************************************************/

#welcome header {
    min-height: 0;
}

#privacyPolicyDescription {
    width: 50%;
    margin-bottom: 16px;
}

#tutorial {
    width: 330px;
    height: 400px;
    background: #FEFCF2;
    position: fixed;
    top: 0;
    right: 106px;
    z-index: 2;
    border-radius: 0 0 8px 8px;
    overflow: hidden;

    -webkit-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition: all 500ms cubic-bezier(0.500, 0.025, 0.500, 1.000);

    -webkit-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    -o-transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
    transition-timing-function: cubic-bezier(0.500, 0.025, 0.500, 1.000);
}

#tutorial.hideTutorial {
    top: -600px;
}

#tutorial.hideTutorial.tutorialHeightAdjust {
    top: -376px;
}

#hideTutorial {
    position: absolute;
    bottom: -2px;
    width: 100%;
    padding: 8px;
    background: #70856b;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#hideTutorial:hover{
    background: #80947b;
}

#tutorial #hideTutorial:after {
    content: "Hide Tutorial";
}

#tutorial.hideTutorial #hideTutorial:after {
    content: "Show Tutorial";
}

#tutorialHome {
    height: 100%;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#tutorialHome div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#watchTutorial, #optinDeclined, #optinAccepted{
    display: block;
    padding: 8px 12px; 
    background: #00213f;
    margin: 0 auto 24px auto;
    border-radius: 100px;
    color: #FEFCF2;
    font-size: 14px;
    cursor: pointer;
}

#watchTutorial:hover, #optinDeclined:hover, #optinAccepted:hover {
    opacity: 0.8;
}

#optinDeclined{
    margin: 8px 0 8px 0;
    background: #D27F65;
}

#optinAccepted {
    margin: 8px 0 8px 24px;
}

#watchTutorial{
    background: #8EA289;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

#tutorialHome #shoppingbag {
    animation: 1.5s cubic-bezier(0.500, 0.025, 0.500, 1.000) 0s 1 slideUp;
    position: absolute;
    bottom: -60px;
    left: 24px;
}

#tutorialScreens {
    display: none;
    position: absolute;
    top: 0;
}

#tutorialScreens img {
    width: 100%;
}

#tutorialNavigation {
    position: absolute;
    bottom: 12px;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    display: none;
}

#tutorialBack, #tutorialNext, #tutorialBack::selection, #tutorialNext::selection {
    padding: 4px 8px; 
    border-radius: 100px;
    background: #f0a38c;
    color: #FEFCF2;
    font-size: 14px;
    cursor: pointer;
}

#tutorialNext {
    background: #D27F65;
}

#confettiLogo {
    width: 50px;
    margin: 8px auto 0 auto;
    cursor: pointer;
}

/*** Typography *****************************************************/

#optinAcceptedResult, #optinDeclinedResult {
    display: none;
    font-weight: bold;
    margin: 16px 0;
}

#optinDeclinedResult {
    color: #D27F65;
}

/*** Queries *****************************************************/

@media screen and (max-width: 768px) {
    #privacyPolicyDescription {
        width: 100%;
    }
}