@import "style.css";

#shops section
#partners section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#shops article,
#partners article {
    position: relative;
    margin-bottom: 16px;
    background: #C9D4C6;
    padding: 24px 24px 58px 24px;
    border-radius: 20px;
    width: 31%;
    font-size: 14px;
    margin-right: auto;
    display: grid;
    grid-template-rows: 7% auto auto 15%;
}

#shops article:nth-child(3n),
#partners article:nth-child(3n){
    margin-right: 2%;
}

#shops section,
#partners section {
    display: flex;
    flex-wrap: wrap;
}

#shops article span,
#partners article span {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
    border-radius: 20px;
    overflow: hidden;
}

#shops article span img, #partners article span img {
    width: 100%;
    margin-top: -50%;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
}

#shops #girlfriendCollective span img {
    width: 100%;
    margin-top: -50%;
}

#shops .readmore a,
#partners .readmore a {
    background: #2B6589;
}

.productsLabel {
  margin-bottom: 0px
}

header {
  background-image: linear-gradient(
    to right, #C9D4C6 40%, transparent
  ), url("../images/background-news.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

/*** Queries *****************************************************/

@media screen and (max-width: 870px) {
    #shops article span,
    #partners article span {
        height: 172px;
    }
}

@media screen and (max-width: 768px) {
    #shops section,
    #partners section {
        flex-direction: column;
    }
    #shops article {
        width: 100%;
        margin-bottom: 24px;
    }
    #shops article,
    #partners article {
        width: 100%;
        margin-bottom: 24px;
    }
    #shops article span,
    #partners article span {
        height: 200px;
    }
}
