<!DOCTYPE html>
<html>
  <head>
    <title>Ethicli Settings</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="../stylesheets/reset.css" rel="stylesheet">
    <link href="../stylesheets/stylesheet-options.css" rel="stylesheet">
  </head>
  <body>
    <label class="switch" for="analyticsToggle">
        <span class="switchAnalyticsDescription">Send anonymous usage analytics to help improve Ethicli</span>
        <input type="checkbox" id="analyticsToggle" checked>
        <span class="checkmark"></span>
    </label>
    <img id="plantdude" src="../images/plantdude.svg" alt="Plant Dude">
    <script type="module" src="../options.js"></script>
  </body>
</html>
