<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ethicli</title>
    <link href="../stylesheets/stylesheet.css" rel="stylesheet">
    <link href="../stylesheets/stylesheet-norating.css" rel="stylesheet">
    <link href="../stylesheets/messaging-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="../popup-scripts/confetti.js"></script>
    <script type="module" src="../popup-scripts/all-popups.js"></script>
    <script type="module" src="../popup-scripts/popup-norating.js"></script>
</head>

<body style="height:290px;" id="popupNoRating">
    <div>
        <p id="sitename">Shop: <span id="siteurlcontainer"><span id="siteurl"></span></span></p>
        <div id="menuPanel">
            <div id="menuBacking"></div>
            <button id="reportIssue">Report an Issue</button>
            <button id="visitWebsite"><a href="https://ethicli.com" target="_blank">Ethicli Website</a></button>
            <button><span id="watchTutorial">Watch Tutorial</span></button>
            <span id="messaging">
                <h3>Report an Issue</h3>
                <span id="messagingFormGroup">
                    <form id="messagingForm">
                        <p>Let us know if you're having trouble! The current url will be sent with your message.</p>
                        <label for="messagingName">Your Name</label><input type="text" id="messagingName" name="messagingName" placeholder="Granny Smith">
                        <label for="messagingEmail">Your Email</label><input type="email" id="messagingEmail" name="messagingEmail" placeholder="gsmith@ethicli.com">
                        <label for="messagingReason">Category<span class="requiredField"> *</span></label>
                        <select name="messagingReason" id="messagingReason" required>
                          <option disabled selected value> -- select an option -- </option>
                          <option value="Incorrect shop name">Incorrect shop name</option>
                          <option value="Inaccurate Score">Inaccurate score</option>
                          <option value="This is not a shop">This is not a shop</option>
                          <option value="Inaccurate product suggestion">Inaccurate product suggestion</option>
                          <option value="Other">Other</option>
                        </select>
                        <label for="messageContent">Message<span class="requiredField"> *</span></label><textarea type="text" id="messageContent" name="messageContent" placeholder="There's something about this shop..." required></textarea>
                    </form>
                    <input id="sendMessageButton" type="submit" value="Send Message" disabled=true>
                    <p id="requiredError">Please fill out required fields</p>
                </span>
                <span id="messageSubmitted">
                    <p>Thank you for your message!</p>
                    <p><span id="withemail">We will send an email to <span id="uemail"></span> and will get back to you as soon as possible. </span>Hope you have a good day!</p>
                    <img src="../images/happyplantdude.svg" alt="Happy Plant Dude" id="plantdude">
                </span>
                <span id="messageFailed">
                    <p>Hmm... Something went wrong, and the message couldn't be sent.</p>
                    <p>Please try again, and if it still doesn't work, please send us an email at <a href="mailto:hello@ethicli.com?subject=Ethicli Inquiry" target="_blank">hello@ethicli.com</a> with your request!</p>
                    <img src="../images/sadplantdude.svg" alt="Sad Plant Dude" id="sadplantdude">
                </span>
            </span>
        </div>

        <div id="tutorial">
            <div id="tutorialScreens">
                <img src="../images/tutorial/tutorial1.jpg" alt="Tutorial 1" id="tutorial1">
                <img src="../images/tutorial/tutorial2.jpg" alt="Tutorial 2" id="tutorial2">
                <img src="../images/tutorial/tutorial3.jpg" alt="Tutorial 3" id="tutorial3">
                <img src="../images/tutorial/tutorial4.jpg" alt="Tutorial 4" id="tutorial4">
                <img src="../images/tutorial/tutorial5.jpg" alt="Tutorial 5" id="tutorial5">
                <img src="../images/tutorial/tutorial6.jpg" alt="Tutorial 6" id="tutorial6">
                <img src="../images/tutorial/tutorial7.jpg" alt="Tutorial 7" id="tutorial7">
            </div>

            <div id="tutorialNavigation">
                <p id="tutorialBack">Back</p>
                <p id="tutorialNext">Next</p>
            </div>
        </div>

        <img src="../images/menu.svg" alt="Menu" height="24" width="24" id="menu">
        <img id="closeMessaging" src="../images/cross.svg" alt="Exit Messaging">
    </div>

    <div id="extension">
        <div id="shopDataUnavailable">
            <span id="noBadge">
                <h2>Shop rating unavailable.</h2>
            </span>
            <span id="hasBadge" style="display:none;">
                <h2>Shop rating unavailable.</h2>
                <p>We don't have a rating for this shop, but it's got some featured badges:</p>
                <div id="badges">
                    <h6 id="bluesign" class="tooltip">
                        <a href="https://www.bluesign.com" target="_blank">BlueSign</a>
                        <span class="tooltiptext">BlueSign Certified</span>
                    </h6>
                    <h6 id="bcorp" class="tooltip">
                        <a href="https://bcorporation.net" target="_blank">BCorp</a>
                        <span class="tooltiptext">BCorp Certified</span></h6>
                    <h6 id="blackowned" class="tooltip">
                        <a href="https://data.world/ethicli/black-owned-businesses" target="_blank">Black-Owned</a>
                        <span class="tooltiptext">Black-Owned Business</span>
                    </h6>
                    <h6 id="blmsupport" class="tooltip">
                        <a href="https://data.world/ethicli/financial-contributions-companies-supporting-blm" target="_blank">Anti-Racism</a>
                        <span class="tooltiptext">Donates to Anti-Racism Organizations</span>
                    </h6>
                    <h6 id="vegan" class="tooltip">
                        <a href="https://vegan.org/companies-using-our-logo/" target="_blank">Vegan</a>
                        <span class="tooltiptext">Has a vegan.org certification</span>
                    </h6>
                    <h6 id="leapingbunny" class="tooltip">
                        <a href="https://www.leapingbunny.org/guide/brands" target="_blank">Leaping Bunny</a>
                        <span class="tooltiptext">Cruelty-free certification from Leaping Bunny</span>
                    </h6>
                </div>
            </span>
            <span id="lazyFeedback">
                <span id="preMessage">
                    <h3>We’ll rate this shop as soon as possible.</h3>
                    <p>If you leave your email, we will send you<br>a personalized message about its scoring as soon as we can.</p>
                    <form id="emailrequestgroup">
                        <label for="emailrequest">Your Email</label>
                        <input type="email" name="emailrequest" id="emailrequest" placeholder="youremail@email.com (optional)">
                    </form>
                    <input type="submit" value="Rate this Shop" id="submitLazyFeedback"></input>
                </span>
                <span id="messageSucceeded">
                    <h3>Request received!</h3>
                    <p><span id="withemail">We will send an email to <span id="uemail"></span>. </span>Thanks for letting us know to rate this shop, and we appreciate you ♥</p>
                    <img src="../images/shoppingbag.svg" alt="Shopping Bag" id="shoppingBagImg">
                </span>
                <span id="messageFailed">
                    <h3>Hmm... Something went wrong, and the message couldn't be sent.</h3>
                    <p>Please try again, and if it still doesn't work, please send us an email at <a href="mailto:hello@ethicli.com?subject=Ethicli Inquiry" target="_blank">hello@ethicli.com</a> with your request!</p>
                    <img src="../images/sadplantdude.svg" alt="Sad Plant Dude" id="sadplantdude">
                </span>
            </span>
        </div>
    </div>
</body>

</html>
