<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ethicli</title>
    <link href="../stylesheets/reset.css" rel="stylesheet">
    <link href="../stylesheets/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="../popup.js"></script>
    <script type="module" src="../popup-scripts/popup-notshop.js"></script>
</head>

<body style="height:136px;" id="popupNotShop">
    <div>
        <div id="menuPanel">
            <div id="menuBacking"></div>
            <button class="tooltip" id="somethingWrong"><a id="sendEmail">Report an Issue</a></button>
            <button id="visitWebsite"><a href="https://ethicli.com" target="_blank">Ethicli Website</a></button>
            <button><span id="watchTutorial">Watch Tutorial</span></button>
        </div>

        <div id="tutorial">
            <div id="tutorialScreens">
                <img src="../images/tutorial/tutorial1.jpg" alt="Tutorial 1" id="tutorial1">
                <img src="../images/tutorial/tutorial2.jpg" alt="Tutorial 2" id="tutorial2">
                <img src="../images/tutorial/tutorial3.jpg" alt="Tutorial 3" id="tutorial3">
                <img src="../images/tutorial/tutorial4.jpg" alt="Tutorial 4" id="tutorial4">
                <img src="../images/tutorial/tutorial5.jpg" alt="Tutorial 5" id="tutorial5">
                <img src="../images/tutorial/tutorial6.jpg" alt="Tutorial 6" id="tutorial6">
                <img src="../images/tutorial/tutorial7.jpg" alt="Tutorial 7" id="tutorial7">
            </div>

            <div id="tutorialNavigation">
                <p id="tutorialBack">Back</p>
                <p id="tutorialNext">Next</p>
            </div>
        </div>

        <img src="../images/menu.svg" alt="Menu" height="24" width="24" id="menu">
    </div>

    <div id="extension">
      <h2 class="redTitle">This page is<br>not a shop.</h2>
        <div id="lazyFeedback">
            <div id="preMessage">
                <p>Please visit shop pages for ratings.</p>
                <button id="submitLazyFeedback" title="Click me if this page seems like it should be a shop!">I think this is a shop</button>
            </div>
            <div id="messageSucceeded">
              <p>Thank you! We'll take a look, and update this as soon as possible!</p>
            </div>
            <div id="messageFailed">
              <p>Please try again, and if it still doesn't work, please send us an email at <a href="mailto:hello@ethicli.com?subject=Ethicli Inquiry" target="_blank">hello@ethicli.com</a> with your request!</p>
            </div>
        </div>
    </div>
</body>

</html>
