<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Ethicli • Welcome">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="images/website-screenshot.png">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Welcome</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylesheets/reset.css" rel="stylesheet">
    <link href="../stylesheets/welcome-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body id="welcome">
    <div id="tutorial">
        <div id="tutorialHome">
            <div>
                <span id="watchTutorial">Watch Tutorial</span>
                <img id="confettiLogo" src="../images/ethicli-logo.png" alt="Ethicli Logo" title="Click me for a surprise 🎉">
            </div>
            <img id="shoppingbag" src="../images/shoppingbag.svg" alt="Shopping Bag">
        </div>

        <div id="tutorialScreens">
            <img class="tscreen" src="../images/tutorial/tutorial1.jpg" alt="Tutorial 1">
            <img class="tscreen" src="../images/tutorial/tutorial2.jpg" alt="Tutorial 2">
            <img class="tscreen" src="../images/tutorial/tutorial3.jpg" alt="Tutorial 3">
            <img class="tscreen" src="../images/tutorial/tutorial4.jpg" alt="Tutorial 4">
            <img class="tscreen" src="../images/tutorial/tutorial5.jpg" alt="Tutorial 5">
            <img class="tscreen" src="../images/tutorial/tutorial6.jpg" alt="Tutorial 6">
            <img class="tscreen" src="../images/tutorial/tutorial7.jpg" alt="Tutorial 7">
        </div>

        <div id="tutorialNavigation">
            <p id="tutorialBack">Back</p>
            <p id="tutorialNext">Next</p>
        </div>
        <div id="hideTutorial"></div>
    </div>

    <nav>
        <div class="container">
            <a href="https://ethicli.com" id="logo"><img src="../images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="../images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="https://ethicli.com/shops">Shops</a>
                <a href="https://ethicli.com/faq">FAQ</a>
                <a href="https://ethicli.com/about">About Us</a>
                <div id="dropdownMenu">
                    <a>Download <span id="dropdownIcon">▾</span></a>
                    <div id="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli/?src=search" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark">Welcome to</span> <span class="colorBlue">Ethicli</span></h1>
            <div>
                <h3>Thanks for downloading!</h3>
                <p id="privacyPolicyDescription">In order to provide you with info about the shops you visit, Ethicli uses the URLs of the sites that you visit to send and retrieve information from our servers.
                    We do not track your individual browsing history.</p>
                <p id="optinAcceptedResult">Thank you for agreeing to our privacy policy!<br>You can now use Ethicli on online shops.</p>
            </div>
            <div id="optinButtonGroup">
                <span>
                    <span id="optinDeclined">Uninstall</span>
                    <span id="optinAccepted">I Agree</span>
                </span>
                <label class="switch" for="analyticsToggle">
                    <span class="switchAnalyticsDescription">Send anonymous usage analytics to help improve Ethicli</span>
                    <input type="checkbox" id="analyticsToggle" checked>
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
    </header>

    <footer>
        <div class="container">
            <ul class="socials">
                <a href="mailto:hello@ethicli.com?subject=Ethicli%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <aside>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
                <a href="https://ethicli.com/shops">Shops</a>
                <a href="https://ethicli.com/partners">Partners</a>
                <a href="https://ethicli.com/faq">FAQ</a>
                <a href="https://ethicli.com/about">About Us</a>
                <a href="https://ethicli.com/privacy" target="_blank">Privacy Policy</a>
                <a href="https://ethicli.com/press">Press</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright <span id="currentYear"></span></p>
            </div>
            <p id="california">Made in California with ♥</p>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
            ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
            sustainable production, labor practice, practices</p>
    </div>
    <script src="../popup-scripts/confetti.js" rel="text/javascript"></script>
    <script type="module" src="../welcome-script.js" rel="text/javascript"></script>
</body>

</html>
