<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • Beta Test">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Beta Test</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="../stylescripts/innerpages.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="betatest">
    <nav id="nav"></nav>

    <header id="top">
        <span id="headerImages">
            <img src="../images/plantdude.svg" alt="Plantdude Graphic">
            <img src="../images/plantdude.svg" alt="Plantdude Graphic">
        </span>
        <div class="container">
            <h1><span class="colorBlue">Be a</span> <span class="colorDark">Beta Tester</span></h1>
            <div>
                <h3>Want to help us improve Ethicli?</h3>
                <p>Ethicli is a browser extension that suggests ethical product alternatives, and shows company ethics scores.<br class="break2">
                    For more details about Ethicli, check out the <a href="/#intro">About Section</a> or read our 
                    <a href="https://team-ethicli.medium.com/introducing-ethicli-a6eaf55434b5" target="_blank">Intro Article</a>  on our blog!</p>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <iframe class="googleForm" id="betaTestForm" src="https://docs.google.com/forms/d/e/1FAIpQLScPge9mckcjfJfSRCpY46q77wxLq6IO4en00-UVUvIhDZN5Ug/viewform?embedded=true" width="640" height="1089" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>

    <footer id="footer"></footer>
    
    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
