<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • FAQ">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • FAQ</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="faq">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>
    <nav>
        <div class="container">
            <a href="/" id="logo"><img src="../images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="../images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="/shops">Shops</a>
                <a href="#top">FAQ</a>
                <a href="/about">About Us</a>
                <div class="dropdownMenu">
                    <a>Download <span class="dropdownIcon">▾</span></a>
                    <div class="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorBlue">Ethicli</span> <span class="colorDark">FAQ</span></h1>
            <div>
                <h3>We'll try to answer your commonly-asked questions!</h3>
                <p>Check out details about our company in the <a href="/#intro">About Section</a>
                  and read our <a href="https://team-ethicli.medium.com/introducing-ethicli-a6eaf55434b5" target="_blank">Intro Article</a> on our blog!</p>
                <p>Wondering how to use Ethicli? <a href="/#howToUse">Click Here</a>.</p>
                <p>Let us know if you have any additional questions at <a href="mailto:hello@ethicli.com?subject=Ethicli%20Inquiry" target="_blank">hello@ethicli.com</a>.</p>
                <a class="featuredButton" href="/about">About Us</a>
                <section id="minutepitch">
                    <h3>Watch our Minute Pitch!</h3>
                    <iframe width="829" height="466" src="https://www.youtube.com/embed/ZhT_oqYz_M0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </section>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section>
                <h3>Q: Where do you get your data?</h3>
                <p>We pull from data sources such as <a href="https://bcorporation.net/">BCorp</a> and <a href="https://www.bluesign.com/en">BlueSign</a>.
                    These sources are highly credible and respected sources, and they consider businesses based on their treatment of workers, customers, suppliers, their communities, and the environment.</p>
                <p>We also crowdsource data from our users. If you would like to learn about our approach, please check out
                    <a href="https://team-ethicli.medium.com/crowdsourcing-data-black-owned-businesses-8ea07ceb8dcd" target="_blank">this blog article</a>.
                    After attaining the data, we make it into a large list that is checked by the extension every time you use it.</p>
                <p>We are currently hand-grading large companies that don't yet have data-backed scores, but are working on making the scoring process more automatic.</p>
            </section>

            <section>
                <h3>Q: How can Ethicli help me as a person with low income?</h3>
                <p>After we have a solid foundation on our ethical product suggestions, we want to start a subsidizing program to essentially price-match ethical products with the cheaper,
                    less ethically made ones. This subsidizing would be funded from a part of the commission we make on the product suggestions we make to you.
                    This would allow you to save money and still serve our mission to make ethical shopping more accessible to our users.</p>
                <p>By supporting ethical businesses, we will help increase the demand and shift the mainstream market to be more
                    competitive with products who do right by us. We have already seen many companies fold to consumer demand,
                    and Ethicli will help your purchasing power push harder by empowering you with the information you need to make the choice.</p>
            </section>

            <section>
                <h3>Q: I don’t shop much online… will Ethicli still be useful?</h3>
                <p>Absolutely! You can use our browser extension to compare some of the brands you see in brick and mortar shops too. While shopping local is a great way to go, many of us still want to know about a company’s ethics regardless if a purchase is made.</p>
                <p>Or, if on a blue moon you do shop, Ethicli can still help you make an informed choice on the one thing you do buy! Every purchase counts,
                    so we just want to arm you with all the information you need to do it.</p>
            </section>

            <section>
                <h3>Q: I’m proud of my online business’s ethics and I’d like to be considered for affiliate ethical product suggestions. How do I start?</h3>
                <p>We love working with ethically-run online businesses! Email us at
                    <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank">hello@ethicli.com</a>
                    to introduce yourself and we can get the ball rolling from there.</p>
            </section>

            <section>
                <h3>Q: I usually shop on my phone… will you ever have an app?</h3>
                <p>Maybe! For now while shopping via smartphone, you can see the score of the company you are looking at by visiting:
                    ethicli.com/info/____ (replace the underscore with the company’s name).</p>
            </section>

            <section>
                <h3>Q: “Ethics” is an ambiguous concept that changes everyday. How do you avoid personal bias in your scoring system?</h3>
                <p>This is so important with us at Ethicli. We focus on certifications, legal documents and databases that reflect specific aspects of company practices.
                    For example, a shopper looking at an animal welfare score will only see sources about animal testing and if the company involves animal byproducts. </p>
                <p>Likewise, the “Social” section of our scoring system involves the companies’ effects on our communities.
                    Such contributors to this score includes the Corporate Human Rights Benchmark,
                    Covid-19 safety precautions for customers, charity donations, and community involvement.</p>
                <p>You may see badges such as “POC-owned business” or “Anti-racism” to depict organizations investing in POC wellness,
                    however those aspects are not included in the score and only serve as highlights for the user to see.</p>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <ul class="socials">
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <aside>
                <a href="/advertise">Advertise on Ethicli</a>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
                <a href="/shops">Shops</a>
                <a href="/partners">Partners</a>
                <a>FAQ</a>
                <a href="/about">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/press">Press</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright <span id="currentYear"></span></p>
            </div>
            <p id="california">Made in California with ♥</p>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
            ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
            sustainable production, labor practice, practices</p>
    </div>
    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
