<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • FAQ">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • FAQ</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="faq">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>
    
    <nav id="nav"></nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorBlue">Ethicli</span> <span class="colorDark">FAQ</span></h1>
            <h3>We'll try to answer your commonly-asked questions!</h3>
            <p>Check out details about our company in the <a href="/#intro">About Section</a>
              and read our <a href="https://team-ethicli.medium.com/introducing-ethicli-a6eaf55434b5" target="_blank">Intro Article</a> on our blog!</p>
            <p>Wondering how to use Ethicli? <a href="/#howToUse">Click Here</a>.</p>
            <p>Let us know if you have any additional questions at <a href="mailto:hello@ethicli.com?subject=Ethicli%20Inquiry" target="_blank">hello@ethicli.com</a>.</p>
            <a class="featuredButton" href="/team">Meet the team</a>
            <section id="minutepitch">
                <h3>Watch our summary vid!</h3>
                <iframe width="829" height="466" src="https://www.youtube.com/embed/ZhT_oqYz_M0" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
            <h3>Questions</h3>
            <ul class="">
              <li><a href="#q1">Q: Where do you get your data?</a></li>
              <li><a href="#q2">Q: How can Ethicli help me as a person with low income?</a></li>
              <li><a href="#q3">Q: I don’t shop much online… will Ethicli still be useful?</a></li>
              <li><a href="#q4">Q: I’m proud of my online business’s ethics and I’d like to be considered for affiliate ethical product suggestions. How do I start?</a></li>
              <li><a href="#q5">Q: I usually shop on my phone… will you ever have an app?</a></li>
              <li><a href="#q6">Q: “Ethics” is an ambiguous concept that changes everyday. How do you avoid personal bias in your scoring system?</a></li>
              <li><a href="#q7">Q: What do the four score groups mean?</a></li>
            </ul>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section id="q1">
                <h3>Q: Where do you get your data?</h3>
                <p>We pull from data sources such as <a href="https://bcorporation.net/">BCorp</a> and <a href="https://www.bluesign.com/en">BlueSign</a>.
                    These sources are highly credible and respected sources, and they consider businesses based on their treatment of workers, customers, suppliers, their communities, and the environment.</p>
                <p>We also crowdsource data from our users. If you would like to learn about our approach, please check out
                    <a href="https://team-ethicli.medium.com/crowdsourcing-data-black-owned-businesses-8ea07ceb8dcd" target="_blank">this blog article</a>.
                    After attaining the data, we make it into a large list that is checked by the extension every time you use it.</p>
                <p>We are currently hand-grading large companies that don't yet have data-backed scores, but are working on making the scoring process more automatic.</p>
            </section>

            <section id="q2">
                <h3>Q: How can Ethicli help me as a person with low income?</h3>
                <p>After we have a solid foundation on our ethical product suggestions, we want to start a subsidizing program to essentially price-match ethical products with the cheaper,
                    less ethically made ones. This subsidizing would be funded from a part of the commission we make on the product suggestions we make to you.
                    This would allow you to save money and still serve our mission to make ethical shopping more accessible to our users.</p>
                <p>By supporting ethical businesses, we will help increase the demand and shift the mainstream market to be more
                    competitive with products who do right by us. We have already seen many companies fold to consumer demand,
                    and Ethicli will help your purchasing power push harder by empowering you with the information you need to make the choice.</p>
            </section>

            <section id="q3">
                <h3>Q: I don’t shop much online… will Ethicli still be useful?</h3>
                <p>Absolutely! You can use our browser extension to compare some of the brands you see in brick and mortar shops too. While shopping local is a great way to go, many of us still want to know about a company’s ethics regardless if a purchase is made.</p>
                <p>Or, if on a blue moon you do shop, Ethicli can still help you make an informed choice on the one thing you do buy! Every purchase counts,
                    so we just want to arm you with all the information you need to do it.</p>
            </section>

            <section id="q4">
                <h3>Q: I’m proud of my online business’s ethics and I’d like to be considered for affiliate ethical product suggestions. How do I start?</h3>
                <p>We love working with ethically-run online businesses! Please fill out the form at <a href="/advertise">https://ethicli.com/advertise</a>
                    to introduce yourself and we can get the ball rolling from there.</p>
            </section>

            <section id="q5">
                <h3>Q: I usually shop on my phone… will you ever have an app?</h3>
                <p>Maybe! For now while shopping via smartphone, you can see the score of the company you are looking at by visiting:
                    ethicli.com/info/____ (replace the underscore with the company’s name).</p>
            </section>

            <section id="q6">
                <h3>Q: “Ethics” is an ambiguous concept that changes everyday. How do you avoid personal bias in your scoring system?</h3>
                <p>This is so important to us at Ethicli. We focus on certifications, legal documents and databases that reflect specific aspects of company practices.
                    For example, a shopper looking at an animal welfare score will only see sources about animal testing and if the company involves animal byproducts. </p>
                <p>Likewise, the “Social” section of our scoring system involves the companies’ effects on our communities.
                    Such contributors to this score includes the Corporate Human Rights Benchmark,
                    Covid-19 safety precautions for customers, charity donations, and community involvement.</p>
                <p>You may see badges such as “POC-owned business” or “Anti-racism” to depict organizations investing in POC wellness,
                    however those aspects are not included in the score and only serve as highlights for the user to see.</p>
            </section>

            <section id="q7">
              <h3>Q: What do the four score groups mean?</h3>
              <p>We at Ethicli chose these 4 areas of ethics because we believe
                they are broad enough to capture most business practices, while
                being simple enough to understand a company’s ethics at a
                glance. The overall score for a company is an average of the
                subscores available.</p>
              <p>Here is a definition of each category along with examples of
                information we may include in our scoring algorithm: </p>
              <h4>Environmental Impact</h4>
              <p>
                The effect that a company's practices have on the environment
                through emissions and use of resources. We include things like
                sustainability measures, use of carbon offsets to help
                neutralize their carbon footprint, shipping practices, and
                release of environmental impact reports. We also look for their
                electricity and fossil fuel usage, textile waste, wastewater
                treatment, plastic pollution, where they source their materials
                and how, whether they promote hyperconsumption (i.e. fast
                fashion apparel brands), and whether their products are
                single-use as opposed to being made to last and/or repairable.
                Some data sources we use include BlueSign and EPA’s Green Power
                Partner list.
              </p>
              <h4>Animal Treatment</h4>
              <p>
                The treatment that an animal receives as a result of a company’s
                manufacturing or practices. We look for certifications that
                indicate the humanity, quality and traceability of their animal
                product usage, and are cruelty-free, and their treatment of
                animals directly. We also let you know if a company has been
                involved in animal cruelty charges or allegations and if they
                test on animals (including selling cosmetics in countries that
                require animal testing by law). Some data sources we use include
                Certified Vegan and Leaping Bunny.

                Animal Treatment is concerned with the direct impact a company’s
                supply chain has on animals vs indirect environmental impacts on
                animals such as habitat destruction. For example, unsustainable
                palm oil harvesting destroys wildlife habitat for orangutans,
                so we classify a company’s palm oil use under Environmental
                Impact. On the other hand, a company’s leather shoes or makeup
                tested on animals would fall under Animal Treatment.

                Note: Some companies that do not use animal products might not
                have a score if their product doesn’t typically use it, such as
                a bookstore or ceramics artisan.
              </p>
              <h4>Labor Practices</h4>
              <p>
                How a company’s policies and operations affect their employees.
                We consider whether the company pays a fair living wage, is
                transparent with their employees’ working conditions, and
                whether their labor supply chain is traceable. We also look for
                employee lawsuits, evidence of forced labor, labor rights
                infractions, child labor, CEO overpay, and sweatshop
                manufactoring in the supply chain. Some data sources we use
                include Fair Trade and Living Wage Foundation.
              </p>
              <h4>Social Impact</h4>
              <p>
                How a company affects the good or health of a community and
                society at large. We collect information regarding humanitarian
                and charity involvement, social justice involvement, and
                community partnerships. We also provide information about
                boycotts, lawsuits, legal issues, scams, legal infractions, and
                infringements on social rights. Some data sources we use include 
                the Human Rights Benchmark and Charity Navigator.
              </p>
            </section>
        </div>
    </div>

    <footer id="footer"></footer>
    
    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
