<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • Partners">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Partners</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="../stylescripts/shops-partners.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="partners">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>
    <nav>
        <div class="container">
            <a href="/" id="logo"><img src="../images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="../images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="/shops">Shops</a>
                <a href="/faq">FAQ</a>
                <a href="/about">About Us</a>
                <div class="dropdownMenu">
                    <a>Download <span class="dropdownIcon">▾</span></a>
                    <div class="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli/?src=search" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorBlue">Our</span> <span class="colorDark">Partners</span></h1>
            <div>
                <p>A list of our partners:</p>
                <ul>
                    <li><a href="#considerateConsumer">The Considerate Consumer</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section>
                <article id="considerateConsumer">
                    <h3>The Considerate Consumer</h3>
                    <span><img src="../images/partners/considerateconsumer.jpg" alt="The Considerate Consumer Logo"></span>
                    <p>The Considerate Consumer is a digital manual to help you make more sustainable daily consumption choices.
                        Their topics range from <a href="https://www.considerate-consumer.com/fruits-vegetables" target="_blank">considerately choose fruits and veggies</a>,
                        to <a href="https://www.considerate-consumer.com/cleaning" target="_blank">assessing cleaning products</a>,
                        to <a href="https://www.considerate-consumer.com/travelling-and-tourism" target="_blank">travelling consciously</a>, and more.</p>
                    <p class="readmore"><a href="https://www.considerate-consumer.com" target="_blank">Visit Website</a></p>
                </article>
            </section>
        </div>
    </div>

    <footer id="footer"></footer>
    
    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
