<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Ethicli • Privacy Policy">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Privacy Policy</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="../stylescripts/privacy.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="privacy">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>
    
    <nav id="nav"></nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark">Privacy</span> <span class="colorBlue">Policy</span></h1>
            <div>
                <h3>Protecting your private information is our priority.</h3>
                <p>This Statement of Privacy applies to http://www.ethicli.com and the Ethicli Browser Extension and governs
                    data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Ethicli include
                    http://www.ethicli.com and the Ethicli Browser Extension. By using the
                    Ethicli Browser Extension or website, you consent to the data practices described in this statement. </p>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section>
                <h3>Collection of your Personal Information</h3>
                <p>In order to better provide you with products and services offered on our Site, Ethicli may collect
                    personally identifiable information, such as:</p>
                <ul>
                    <li>First and last name</li>
                    <li>E-mail address</li>
                    <li>Cookies for usage data</li>
                </ul>
                <p>We do not collect any personal information about you unless you voluntarily provide it to us.
                    However, you may be required to provide certain personal information to us when you elect to use
                    certain products or services available on the Site. These may include: (a) registering for an
                    account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our partners;
                    (c) signing up for special offers from selected third parties; (d) sending us an email message; (e)
                    submitting your credit card or other payment information when ordering and purchasing products and
                    services on our Site.</p>
                <p>We use Google Analytics to track anonymized user interactions and data.
                    Google analytics uses cookies. The information generated by the cookie about your use of this website
                    is usually transmitted to a Google server in the USA and stored there. Google might transfer the personal
                    information collected via this technical procedure to third parties.
                    You can see the Google Terms of Service <a href="https://marketingplatform.google.com/about/analytics/terms/us" target="_blank">here</a>.</p>
                <p>We also use Mixpanel to track anonymized user interactions and data for the Extension.
                    You can opt out of tracking by Mixpanel at any time by visiting the Extension's settings.
                    The information collected about your use of the Extension is usually transmitted to a Mixpanel server and stored there.
                    You can see the Mixpanel Terms of Use <a href="https://mixpanel.com/legal/terms-of-use/" target="_blank">here</a>.</p>
                <p>To wit, we will use your information for, but not limited to, communicating
                    with you in relation to services and/or products you have requested from us. We also may gather
                    additional personal or non-personal information in the future. </p>
            </section>

            <section>
                <h3>Use of your Personal Information</h3>
                <p>Ethicli collects and uses your personal information to operate its website(s), browser extension,
                    and deliver the services you have requested. Ethicli may also use your personally identifiable
                    information to inform you of other products or services available from Ethicli and its affiliates.
                    </p>
                <p>For information on how your information is used or shared with third parties see the section below
                    titled “<a href="#shareInfo">Sharing Information with Third Parties</a>”.</p>
            </section>

            <section>
                <h3>Collection of your Non-Personal Information</h3>
                <p>In order to better provide you with products and services offered on our Site and Browser Extension,
                    Ethicli may collect non-personally identifiable information, such as:</p>
                <ul>
                    <li>The urls of websites you visit</li>
                </ul>
                <p>By using the Ethicli Browser Extension you agree to share the urls you visit with Ethicli.
                    This data is essential to performing the core services provided by Ethicli.
                    This information is not tied to a user-profile and will not be traced back to you.
                    The information may be viewed or shared in aggregate so as not to reveal any information about individual users.
                    Urls may also be sent to Mixpanel in order to record anonymous usage behavior.
                    We also may gather additional non-personal information in the future.</p>
            </section>

            <section>
                <h3>Use of your Non-Personal Information</h3>
                <p>Ethicli collects and uses your non-personal information to operate its website(s), browser extension,
                    and deliver the services you have requested. For information on how your information is used or
                    shared with third parties see the section below titled “Sharing Information with Third Parties”.
                    </p>
            </section>

            <section>
                <h3 id="shareInfo">Sharing Information with Third Parties</h3>
                <p>Ethicli does not sell, rent or lease its customer lists to third parties.</p>
                <p>Ethicli may share data with trusted partners to help perform statistical analysis (e.g. Google Analytics), send you email or
                    postal mail, provide customer support, or arrange for deliveries. All such third parties are
                    prohibited from using your personal information except to provide these services to Ethicli, and they
                    are required to maintain the confidentiality of your information.</p>
                <p>Ethicli may disclose your personal information, without notice, if required to do so by law or in the good faith
                    belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process
                    served on Ethicli or the site; (b) protect and defend the rights or property of Ethicli; and/or (c) act under
                    exigent circumstances to protect the personal safety of users of Ethicli, or the public.</p>
                <h4>External Data Storage Sites</h4>
                <p>We may store your data on servers provided by third party hosting vendors with whom we have contracted.</p>
            </section>

            <section>
                <h3>Tracking User Behavior</h3>
                <p>Ethicli may keep track of the websites and pages our users visit while using the Ethicli Browser Extension,
                    in order to determine what Ethicli services are the most popular. This data is used to deliver customized
                    content and advertising within Ethicli to customers whose behavior indicates that they are interested in
                    a particular subject area. </p>
            </section>

            <section>
                <h3>Automatically Collected Information</h3>
                <p>Information about your computer hardware and software may be automatically collected by Ethicli. This
                    information can include: your IP address, browser type, domain names, access times and referring website
                    addresses. This information is used for the operation of the service, to maintain quality of the service,
                    and to provide general statistics regarding use of the Ethicli website. </p>
                <p>IP address is not collected by the Extension however.</p>
            </section>

            <section>
                <h3>Links</h3>
                <p>This website contains links to other sites. Please be aware that we are not responsible for the content or
                    privacy practices of such other sites. We encourage our users to be aware when they leave our site and to
                    read the privacy statements of any other site that collects personally identifiable information.</p>
            </section>

            <section>
                <h3>Security of your Personal Information</h3>
                <p>Ethicli secures your personal information from unauthorized access, use, or disclosure. Ethicli uses the following methods for this purpose:</p>
                <ul>
                    <li>SSL Protocol</li>
                </ul>
                <p>When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption,
                    such as the Secure Sockets Layer (SSL) protocol. </p>
                <p>We strive to take appropriate security measures to protect against unauthorized access to or alteration of your personal information.
                    Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we strive
                    to protect your personal information, you acknowledge that: (a) there are security and privacy limitations inherent to the Internet which are
                    beyond our control; and (b) security, integrity, and privacy of any and all information and data exchanged between you and us through this
                    Site cannot be guaranteed.</p>
            </section>

            <section>
                <h3>Right to Deletion</h3>
                <p>Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will:</p>
                <ul>
                    <li>Delete your personal information from our records; and</li>
                    <li>Direct any service providers to delete your personal information from their records.</li>
                </ul>
                <p>Please note that we may not be able to comply with requests to delete your personal information if it is necessary to:</p>
                <ul>
                    <li>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted
                        in accordance with federal law, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing
                        business relationship with you, or otherwise perform a contract between you and us</li>
                    <li>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those
                        responsible for that activity</li>
                    <li>Debug to identify and repair errors that impair existing intended functionality</li>
                    <li>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law</li>
                    <li>Comply with the California Electronic Communications Privacy Act</li>
                    <li>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable
                        ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such
                        research, provided we have obtained your informed consent</li>
                    <li>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us</li>
                    <li>Comply with an existing legal obligation; or</li>
                    <li>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information</li>
                </ul>
            </section>

            <section>
                <h3>Children Under Thirteen</h3>
                <p>Ethicli does not knowingly collect personally identifiable information from children under the age of thirteen.
                    If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website. </p>
            </section>

            <section>
                <h3>E-mail Communications</h3>
                <p>From time to time, Ethicli may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication.</p>
                <p>If you would like to stop receiving marketing or promotional communications via email from Ethicli, you may opt out of such communications by responding <em>“UNSUBSCRIBE”</em> to any email from Ethicli.</p>
            </section>

            <section>
                <h3>Changes to this Statement</h3>
                <p>Ethicli reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat
                    personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site,
                    and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such
                    modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.</p>
            </section>

            <section>
                <h3>Contact Information</h3>
                <p>Ethicli welcomes your questions or comments regarding this Statement of Privacy. If you believe that Ethicli has not adhered to this Statement, please contact Ethicli at:</p>
                <p><em>Email Address</em>: hello@ethicli.com</p>
                <p>Effective as of July 03, 2020</p>
            </section>
        </div>
    </div>

    <footer id="footer"></footer>
    
    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
