<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • Partners">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Shops</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/shops-partners.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="shops">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>

    <nav id="nav"></nav>

    <header id="top" class="shopsHeader">
        <div class="container">
            <h1><span class="colorBlue">Shop</span> <span class="colorDark">Ethicli</span></h1>
            <div>
                <p>A list of our partner shops:</p>
                <ul>
                    <li><a href="#girlfriendCollective">Girlfriend Collective</a></li>
                    <li><a href="#uncommonGoods">Uncommon Goods</a></li>
                    <li><a href="#madeTrade">Made Trade</a></li>
                    <li><a href="#truEarth">Tru Earth</a></li>
                    <li><a href="#pela">Pela</a></li>
                    <li><a href="#pelavision">Pela Vision</a></li>
                    <li><a href="#babo">Babo Botanicals</a></li>
                    <li><a href="#sheetsAndGiggles">Sheets &amp; Giggles</a></li>
                    <li><a href="#teracube">Teracube</a></li>
                </ul>
            </div>
            <p class="disclaimer">Clicking links on this page allow Ethicli to earn a commission from purchases made through our partner shops. Thank you for supporting and shopping Ethicli!</p>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section>
                <article id="girlfriendCollective">
                    <h3><a href="https://www.girlfriend.com/?rfsn=4623522.105f97" target="_blank">Girlfriend Collective</a></h3>
                    <span><img src="../images/shops/girlfriendcollective.jpg" alt="Girlfriend Merch"></span>
                    <p>Girlfriend Collective has model diversity and an extensive circular program
                        that buys back their used items (made from recycled BPA-free water bottles) to make new ones!
                        They operate in a SA8000-certified zero-waste facility, are size-inclusive (XXS—6XL), anti-child labor, and vegan.</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://girlfriend-store.myshopify.com/collections/leggings/products/midnight-float-seamless-high-rise-legging?rfsn=4623522.105f97">High-Rise Leggings</a></li>
                        <li><a href="https://girlfriend-store.myshopify.com/collections/the-perfect-tee-collection/products/fern-gia-crop-tee?rfsn=4623522.105f97&variant=32803385180223">Crop Tee</a></li>
                        <li><a href="https://girlfriend-store.myshopify.com/products/water-filter?rfsn=4623522.105f97">Laundry Microfiber filter</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://www.girlfriend.com/?rfsn=4623522.105f97" target="_blank">Visit Website</a>
                </article>
                <article id="uncommonGoods">
                    <h3><a href="https://uncommongoods.sjv.io/74NWg" target="_blank">Uncommon Goods</a></h3>
                    <span><img src="../images/shops/uncommongoods.jpg" alt="Uncommon Goods Merch"></span>
                    <p>Uncommon Goods who rates a 9.5 out of 10. They pay crafters and artisans a living wage to sell all kinds of ethical handmade items.
                      With such a robust selection of unique goods, we recommend this shop as one of your first stops for your holiday shopping this year!</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://uncommongoods.sjv.io/D552G">Face Mask</a></li>
                        <li><a href="https://uncommongoods.sjv.io/7442V">Saalt Menstrual Cup</a></li>
                        <li><a href="https://uncommongoods.sjv.io/LJJbV">Dog Treats</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://uncommongoods.sjv.io/74NWg" target="_blank">Visit Website</a>
                </article>
                <article id="teracube">
                    <h3><a href="https://shareasale.com/r.cfm?b=1468270&u=2552760&m=93697&urllink=&afftrack=" target="_blank">Teracube</a></h3>
                    <span><img src="../images/shops/teracube.webp" alt="Teracube Merch"></span>
                    <p>Teracube is a sustainable smartphone alternative that is meant to be
                      repairable instead of continually upgraded. It comes in a fully compostable case, replaceable battery,
                      and is made from recycled materials.</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shareasale.com/r.cfm?b=1468270&u=2552760&m=93697&urllink=myteracube%2Ecom%2Fproducts%2Fteracube&afftrack=">Sustainable Smartphone</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1468270&u=2552760&m=93697&urllink=&afftrack=" target="_blank">Visit Website</a>
                </article>
                <article id="truEarth">
                    <h3><a href="https://shareasale.com/r.cfm?b=1398840&u=2552760&m=90625&urllink=&afftrack=0" target="_blank">Tru Earth</a></h3>
                    <span><img src="../images/shops/truearth.jpg" alt="Tru Earth Merch"></span>
                    <p>Tru Earth is a cruelty-free, palm oil free laundry brand that shares their ingredients transparently on their website.
                        They’re best known for their waterless, vegan detergent strips!</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shrsl.com/2r13z">Multi-purpose Cleaner</a></li>
                        <li><a href="http://shrsl.com/2ppzn">Laundry detergent</a></li>
                        <li><a href="http://shrsl.com/2pq0l">Reusable Straws</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1398840&u=2552760&m=90625&urllink=&afftrack=0" target="_blank">Visit Website</a>
                </article>
                <article id="pela">
                    <h3><a href="https://shareasale.com/r.cfm?b=1216646&u=2552760&m=81303&urllink=&afftrack=0" target="_blank">Pela</a></h3>
                    <span><img src="../images/shops/pela.jpg" alt="Pela Merch"></span>
                    <p>Pela products are compostable &amp; ship in plastic-free packaging.
                        They are Climate Neutral certified, and also donate to 1% for the Planet!</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="http://shrsl.com/2priw">Airpods Case</a></li>
                        <li><a href="http://shrsl.com/2prkl">Samsung Phone Case</a></li>
                        <li><a href="http://shrsl.com/2prm2">iPhone Case</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1216646&u=2552760&m=81303&urllink=&afftrack=0" target="_blank">Visit Website</a>
                </article>
                <article id="pelavision">
                    <h3><a href="https://shareasale.com/r.cfm?b=1567314&u=2552760&m=98792&urllink=&afftrack=" target="_blank">Pela Vision</a></h3>
                    <span><img src="../images/shops/pelavision.webp" alt="Pela Vision Merch"></span>
                    <p>Pela products are compostable &amp; ship in plastic-free packaging.
                        They are Climate Neutral certified, and also donate to 1% for the Planet!</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shareasale.com/r.cfm?b=1567314&u=2552760&m=98792&urllink=pelavision%2Ecom%2Fproducts%2Fsulu%2Deco%2Dfriendly%2Dsunglasses%2Din%2Dbrown%2Dtortoise%3Fvariant%3D31738028949602&afftrack=Pela">Sunglasses</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=1567314&u=2552760&m=98792&urllink=pelavision%2Ecom%2Fproducts%2Fbonito%2Deco%2Dfriendly%2Dblue%2Dlight%2Dglasses%2Din%2Dgravity%2Dgrey%3Fvariant%3D31919382823010&afftrack=Pela">Blue Light Glasses</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1567314&u=2552760&m=98792&urllink=&afftrack=" target="_blank">Visit Website</a>
                </article>
                <article id="babo">
                    <h3><a href="https://shareasale.com/r.cfm?b=615496&u=2552760&m=53896&urllink=&afftrack=" target="_blank">Babo Botanicals</a></h3>
                    <span><img src="../images/shops/babo.jpg" alt="Babo Merch"></span>
                    <p>Babo Botanicals is a family-centered skincare company focused on products for babies, parents, and everyone in between.</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shareasale.com/r.cfm?b=615496&u=2552760&m=53896&urllink=www%2Ebabobotanicals%2Ecom%2Fproducts%2Fnew%2Deucalyptus%2Dplant%2Dbased%2Dhand%2Dsoap&afftrack=ethicliBB">Hand Soap</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=615496&u=2552760&m=53896&urllink=www%2Ebabobotanicals%2Ecom%2Fproducts%2Fsheer%2Dmineral%2Dsunscreen%2Dlotion%2Dspf%2D50&afftrack=ethicliBB">SPF Sunblock</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=615496&u=2552760&m=53896&urllink=www%2Ebabobotanicals%2Ecom%2Fproducts%2Fafter%2Dsun%2Dsoothing%2Dhydrating%2Dgel&afftrack=ethicliBB">Aloe Gel</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=615496&u=2552760&m=53896&urllink=&afftrack=" target="_blank">Visit Website</a>
                </article>
                <article id="sheetsAndGiggles">
                    <h3><a href="https://shareasale.com/r.cfm?b=1433917&u=2552760&m=92332&urllink=&afftrack=0" target="_blank">Sheets &amp; Giggles</a></h3>
                    <span><img src="../images/shops/sheetsandgiggles.jpg" alt="Sheets &amp; Giggles Merch"></span>
                    <p>Sheets &amp; Giggles makes sustainable bedding (sheets, comforters, pillowcases, blankets, etc.)
                        from eucalyptus wood pulp, grown and harvested on biodiverse farms. For every Eucalyptus tree harvested, they plant two more!</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shareasale.com/r.cfm?b=1433917&u=2552760&m=92332&urllink=sheetsgiggles%2Ecom%2Fproducts%2Feucalyptus%2Dlyocell%2Dsheet%2Dsets%2Dsage%3Fvariant%3D32195872194654&afftrack=ethicliSG">Sheet Set</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=1433917&u=2552760&m=92332&urllink=sheetsgiggles%2Ecom%2Fproducts%2Feucalyptus%2Dcomforter%3Fvariant%3D31707911553118&afftrack=ethicliSG">Comforter</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=1433917&u=2552760&m=92332&urllink=sheetsgiggles%2Ecom%2Fproducts%2Fpillowcases%3Fvariant%3D32197490999390&afftrack=ethicliSG">Pillowcases</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1433917&u=2552760&m=92332&urllink=&afftrack=0" target="_blank">Visit Website</a>
                </article>
                <article id="madeTrade">
                    <h3><a href="https://shareasale.com/r.cfm?b=1308263&u=2552760&m=85477&urllink=&afftrack=" target="_blank">Made Trade</a></h3>
                    <span><img src="../images/shops/madetrade.jpg" alt="Made Trade Merch"></span>
                    <p>Made Trade is a woman and POC-owned marketplace of sustainable, fair trade, hand-made, USA-made, and vegan products.
                        They also donate to 1% for the Planet, and have a Carbon-Neutral checkout process.</p>
                    <div class="productsSection">
                      <p class="productsLabel">Products:</p>
                      <ul class="productsList">
                        <li><a href="https://shareasale.com/r.cfm?b=1308263&u=2552760&m=85477&urllink=www%2Emadetrade%2Ecom%2Fcollections%2Fgifts%2Fproducts%2Fmiddle%2Dkingdom%2Dtulip%2Dtea%2Dcups&afftrack=">Teacups</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=1308263&u=2552760&m=85477&urllink=www%2Emadetrade%2Ecom%2Fcollections%2Fgifts%2Fproducts%2Fsilk%2Droad%2Dbazaar%2Dbaby%2Dbootie%2Dcorn%2Dbaby%2Dzootie%2Dinfant&afftrack=">Baby Booties</a></li>
                        <li><a href="https://shareasale.com/r.cfm?b=1308263&u=2552760&m=85477&urllink=www%2Emadetrade%2Ecom%2Fcollections%2Fgifts%2Fproducts%2Fritual%2Dand%2Dfancy%2D5%2Doz%2Dvotive%2Dcandles%3Fvariant%3D33113309872191&afftrack=">Candle</a></li>
                      </ul>
                    </div>
                    <a class="readmore" href="https://shareasale.com/r.cfm?b=1308263&u=2552760&m=85477&urllink=&afftrack=" target="_blank">Visit Website</a>
                </article>
            </section>
        </div>
    </div>

    <footer id="footer"></footer>

    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
