<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • Team">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Team</title>
    <link rel="icon" type="image/png" href="../images/favicon-48x48.png">
    <link href="../stylescripts/style.css" rel="stylesheet">
    <link href="../stylescripts/team.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="faq">
    <button id="mainCTA"><a href="/betatest">Be a Beta Tester!</a></button>

    <nav id="nav"></nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark">Team</span> <span class="colorBlue">Ethicli</span></h1>
            <div>
                <p>Ethicli was started in May of 2020 after Billy T. became dissatisfied with how difficult it was to find ethical alternatives.
                    Nervously, he gathered a team of really nice, driven, and ethically minded people.
                    The team quickly got to work and has put thousands of hours into making Ethicli a reality.
                    We hope that with your support, Ethicli will grow and push companies to adopt more ethical practices.
                    Thanks for joining us! Full blog article Introducing Ethicli <a href="https://blog.ethicli.com/post/introducing-ethicli/" target="_blank">here</a>.</p>
                <a class="featuredButton" href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank">Contact Us</a>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section id="team">
                <article>
                    <span><img src="../images/billy.jpg" alt="Billy T."><span>🖥️</span></span><h3>Billy T. Hernandez</h3>
                    <p>Computer Science Major at Sacramento State University with a passion for the environment. Manages process, timeline, and contributes to the full code stack.</p>
                </article>
                <article>
                    <span><img src="../images/amy.jpg" alt="Amy"><span>🌳</span></span><h3>Amy Tims</h3>
                    <p>Conservationist focused on resource equity. Helps decide how data are weighed in the overall score, and liasons with ethical companies and users.</p>
                </article>
                <article>
                    <span><img src="../images/linda.jpg" alt="Linda"><span>🎨</span></span><h3>Linda Huang</h3>
                    <p>Web designer interested in sustainability. Develops website, front-end extension design, marketing materials, and branding.</p>
                </article>
            </section>
            <section>
              <h2><span class="colorDark">Previous</span> <span class="colorBlue">Members</span></h2>
              <ul>
                <li>Cosmo Stevens - Backend Software Engineer</li>
              </ul>
            </section>
        </div>
        <div id="advertiseNotice">
            <div class="container">
                <h2><span class="colorBlue">Work</span> <span class="colorDark">Ethicli</span></h2>
                <section class="half">
                    <article>
                        <p>Interested in building ethical products with Ethicli? We want to hear from you! Please email us your resume at <a href="mailto:hello@ethicli.com">hello@ethicli.com</a></p>
                        <p>You'll be sure to get:</p>
                        <ul>
                          <li>Flexible work hours</li>
                          <li>Influence over product direction</li>
                          <li>Supportive teammates</li>
                        </ul>
                    </article>
                    <img src="../images/work-at-ethicli.jpg" alt="Laptop and house plant" title="Photo by Sven Brandsma on Unsplash">
                </section>
            </div>
        </div>
    </div>

    <footer id="footer"></footer>

    <script src="../stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
