<!DOCTYPE html>
<html lang="en">

<head>
    <html xmlns:th="http://www.thymeleaf.org">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli • About Us">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • About Us</title>
    <link rel="icon" type="image/png" href="images/favicon-48x48.png">
    <link href="stylescripts/reset.css" rel="stylesheet">
    <link href="stylescripts/style.css" rel="stylesheet">
    <link href="stylescripts/about.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="faq">
    <button id="mainCTA"><a href="https://forms.gle/DTXjTUsTfb1xjg5UA" target="_blank">Be a Beta Tester!</a></button>
    <nav>
        <div class="container">
            <a href="/" id="logo"><img src="images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="/faq">FAQ</a>
                <a href="#top">About Us</a>
                <div class="dropdownMenu">
                    <a>Download <span class="dropdownIcon">▾</span></a>
                    <div class="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark">About</span> <span class="colorBlue">Us</span></h1>
            <div>
                <p>Ethicli was started in May of 2020 after Billy T. became dissatisfied with how difficult it was to find ethical alternatives.
                    Nervously, he gathered a team of really nice, driven, and ethically minded people.
                    The team quickly got to work and has put thousands of hours into making Ethicli a reality.
                    We hope that with your support, Ethicli will grow and push companies to adopt more ethical practices.
                    Thanks for joining us! Full blog article Introducing Ethicli <a href="https://team-ethicli.medium.com/introducing-ethicli-a6eaf55434b5" target="_blank">here</a>.</p>
                <a id="pitchdeck" href="documents/Ethicli Pitch Deck.pdf" target="_blank">Contact Us</a>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section id="team">
                <article>
                    <span><img src="images/billy.jpg" alt="Billy T."><span>🖥️</span></span><h3>Billy T. Hernandez</h3>
                    <p>Computer Science Major at Sacramento State University with a passion for the environment. Manages process, timeline, and contributes to the full code stack.</p>
                </article>
                <article>
                    <span><img src="images/amy.jpg" alt="Amy"><span>🌳</span></span><h3>Amy Tims</h3>
                    <p>Conservationist focused on resource equity. Helps decide how data are weighed in the overall score, and liasons with ethical companies and users.</p>
                </article>
                <article>
                    <span><img src="images/linda.jpg" alt="Linda"><span>🎨</span></span><h3>Linda Huang</h3>
                    <p>Web designer interested in sustainability. Develops website, front-end extension design, marketing materials, and branding.</p>
                </article>
                <article>
                    <span><img src="images/cosmo.jpg" alt="Cosmo"><span>📁</span></span><h3>Cosmo Stevens</h3>
                    <p>Computer Science Major at Sacramento State University. Develops data retrieval algorithms and backend.</p>
                </article>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <ul class="socials">
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <aside>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
                <a href="/partners">Partners</a>
                <a href="/faq">FAQ</a>
                <a>About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/press">Press</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright 2020</p>
            </div>
            <p id="california">Made in California with ♥</p>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
            ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
            sustainable production, labor practice, practices</p>
    </div>
    <script src="stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
