<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Ethicli">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.ethicli.com/">
    <meta property="og:image" content="images/website-screenshot.png">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli 404</title>
    <!-- [if lt IE 9]>
    <script src="stylescripts/html5shiv.js"></script>
    <![endif]-->
    <link rel="icon" href="images/ethicli-logo.png">
    <link href="stylescripts/reset.css" rel="stylesheet">
    <link href="stylescripts/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="404">
    <button id="mainCTA"><a href="https://forms.gle/DTXjTUsTfb1xjg5UA" target="_blank">Be a Beta Tester!</a></button>
    <nav>
        <div class="container">
            <a href="/home" id="logo"><img src="images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="https://cash.app/$Ethicli" target="_blank">Donate</a>
                <a href="https://medium.com/@team.ethicli" target="_blank">Blog</a>
                <a href="/faq">FAQs</a>
                <a href="/home#intro">About</a>
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli Inquiry" target="_blank">Contact</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Extension</a>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h2><span class="colorBlue">404</span> <span class="colorDark">Page Not Found.</span></h2>
            <div id="headerInfo">
                <h3>Whoops! <br>This isn't a real page.</h3>
                <p>Please have a joke instead.</p>
                <p>Q. What do you call a tree that grows in your hand?</p>
                <p>A. A palm tree! (hawhaw)</p>
                <p class="emphasis">Check our other links or return to the main page <a href="/home">here</a>.</p>
            </div>
            <img src="images/shoppingbag.svg" alt="Extension image in Header" id="headerExtension">
        </div>
    </header>

    <footer>
        <div class="container">
            <ul class="socials">
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
            </ul>
            <aside>
                <a href="/home#intro">About</a>
                <a href="https://medium.com/@team.ethicli" target="_blank">Blog</a>
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli Inquiry" target="_blank">Contact</a>
                <a href="https://cash.app/$Ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download</a>
                <a href="/faq">FAQs</a>
                <a href="/privacy">Privacy Policy</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright 2020</p>
            </div>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
            ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
            sustainable production, labor practice, practices</p>
    </div>
    <script src="stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
