<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
      content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
      planet, and community. Use our free browser extension to effortlessly shop from more ethical,
      green, and smaller businesses!">
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@Shop_Ethicli"/>
    <meta name="twitter:creator" content="@Shop_Ethicli"/>
    <meta property="og:title" content="Ethicli - Ethical Shopping Browser Extension">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description" content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli - Ethical Shopping Browser Extension</title>
    <link rel="icon" href="../images/ethicli-logo.png">
    <link href="../stylescripts/reset.css" rel="stylesheet">
    <link href="../stylescripts/info-style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <nav>
        <div class="container">
            <a href="/home" target="_blank" id="logo"><img src="../images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="../images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="https://cash.app/$Ethicli" target="_blank">Donate</a>
                <a href="http://blog.ethicli.com" target="_blank">Blog</a>
                <a href="/faq" target="_blank">FAQ</a>
                <a href="/about">About Us</a>
                <div class="dropdownMenu">
                    <a>Download <span class="dropdownIcon">▾</span></a>
                    <div class="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark" th:text = "${business.name}"></span> <span class="colorBlue">Info</span></h1>
            <!--<h1><span class="colorDark" id="companyName"></span> <span class="colorBlue">Info</span></h1>-->
            <section id="mainStats">
                <article>
                    <div id="mainRating">
                        <h6 th:if="${#strings.substring(business.overallScore,0,3) != '0.0'}" th:text = "${#strings.substring(business.overallScore,0,3)}"></h6>
                        <p th:if="${#strings.substring(business.overallScore,0,3) != '0.0'}">/10</p>
                        <h6 th:if="${#strings.substring(business.overallScore,0,3) == '0.0'}">N/A</h6>
                    </div>
                    <div>
                        <p><a target="_blank" th:text = "${business.website}"><em>Insert URL here</em></a></p>
                            <span th:if="${business.overallScoreDetails == ''}"><p>The overall score is calculated by averaging the <em>environmental</em>,
                            <em>labor</em>, <em>animal treatment</em>, and <em>social</em> statistics of each company, which is calculated and compared against news media.</p></span>
                            <p th:text = "${business.overallScoreDetails}"></p>
                        <div id="badges">
                            <h6 th:if="${business.bluesignPartner}" class="tooltip" id="bluesign">
                                <a href="https://www.bluesign.com" target="_blank">BlueSign</a>
                                <span class="tooltiptext">BlueSign Certified</span>
                            </h6>
                            <h6 th:if="${business.bcorpCertified}" class="tooltip" id="bcorp">
                                <a href="https://bcorporation.net/" target="_blank">BCorp</a>
                                <span class="tooltiptext">BCorp Certified</span>
                            </h6>
                            <h6 th:if="${business.blackOwnedBusiness}" class="tooltip" id="blackowned">
                                <a href="https://data.world/ethicli/black-owned-businesses" target="_blank">Black-Owned</a>
                                <span class="tooltiptext">Black-Owned Business</span>
                            </h6>
                            <h6 th:if="${business.supportsBLM}" class="tooltip" id="blmsupport">
                                <a href="https://data.world/ethicli/financial-contributions-companies-supporting-blm" target="_blank">Anti-Racism</a>
                                <span class="tooltiptext">Donates to Anti-Racism Organizations</span>
                            </h6>
                            <h6 th:if="${business.veganDotOrgCertified}" class="tooltip" id="vegan">
                                <a href="https://vegan.org/companies-using-our-logo/" target="_blank">Vegan</a>
                                <span class="tooltiptext">Has a vegan.org certification</span>
                            </h6>
                            <h6 th:if="${business.leapingBunnyCertified}" class="tooltip" id="leapingbunny">
                                <a href="https://www.leapingbunny.org/guide/brands" target="_blank">Leaping Bunny</a>
                                <span class="tooltiptext">Cruelty-free certification from Leaping Bunny</span>
                            </h6>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </header>

    <div id="expandedStats">
        <div class="container">
            <section>
                <ul id="tabs">
                    <li th:if="${#strings.substring(business.environmentScore,0,3) != '0.0'}" id="environmentalStat">Environment</li>
                    <li th:if="${#strings.substring(business.laborScore,0,3) != '0.0'}" id="laborStat">Labor</li>
                    <li th:if="${#strings.substring(business.animalsScore,0,3) != '0.0'}" id="animalStat">Animal Rights</li>
                    <li th:if="${#strings.substring(business.socialScore,0,3) != '0.0'}" id="socialStat">Social</li>
                </ul>

                <article th:if="${#strings.substring(business.environmentScore,0,3) != '0.0'}" id="environmentalSec">
                    <div class="statsTop">
                        <div class="substatCircle">
                            <h6 th:if="${#strings.substring(business.environmentScore,0,3) != '0.0'}" th:text = "${#strings.substring(business.environmentScore,0,3)}"></h6>
                            <p th:if="${#strings.substring(business.environmentScore,0,3) != '0.0'}">/10</p>
                            <h6 th:if="${#strings.substring(business.environmentScore,0,3) == '0.0'}">N/A</h6>
                        </div>
                        <div>
                            <h3>Environmental Statistics</h3>
                            <p id="environmentDesc">The environment score is produced using data from <a href="https://bcorporation.net/">B corp</a>,
                                <a href="https://www.bluesign.com/">Bluesign</a>, and the <a href="https://www.epa.gov/">EPA</a>.<br><br> Data is drawn from multiple sources including certification datasets, articles, and directories. Only reputable sources
                                are considered in the process. In future updates, we will be detailing these scores more specifically 📈</p>
                            <p th:if="${#strings.substring(business.greenPowerPercentage,0,3) != '0.0'}" id="greenPower">Percentage of power produced by renewable energies:
                                <a th:text = "${#strings.substring(business.greenPowerPercentage,0,3)}" href="https://www.epa.gov/greenpower/green-power-partner-list"></a>%
                            </p>
                        </div>
                    </div>
                    <div class="statsBottom">
                        <h3>Sources</h3>
                        <div th:if="${business.environmentScoreSource[0]} != ''">
                            <div th:each="source : ${business.environmentScoreSource}" class="articleList">
                                <div class="articleSource">
                                    <a th:text="${source}" th:href="${source}"></a>
                                    <!-- <iframe th:src="${source}" class="preview"></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article th:if="${#strings.substring(business.laborScore,0,3) != '0.0'}" id="laborSec" style="display:none">
                    <div class="statsTop">
                        <div class="substatCircle">
                            <h6 th:if="${#strings.substring(business.laborScore,0,3) != '0.0'}" th:text = "${#strings.substring(business.laborScore,0,3)}"></h6>
                            <p th:if="${#strings.substring(business.laborScore,0,3) != '0.0'}">/10</p>
                            <h6 th:if="${#strings.substring(business.laborScore,0,3) == '0.0'}">N/A</h6>
                        </div>
                        <div>
                            <h3>Labor Statistics</h3>
                            <p id="laborDesc">The labor score is produced using data from <a href="https://bcorporation.net/">B corp</a>.<br><br> Data is drawn from multiple sources including certification datasets, articles, and directories. Only reputable sources are
                                considered in the process. In future updates, we will be detailing these scores more specifically 📈</p>
                        </div>
                    </div>
                    <div class="statsBottom">
                        <h3>Sources</h3>
                        <div th:if="${business.laborScoreSource[0]} != ''">
                            <div th:each="source : ${business.laborScoreSource}" class="articleList">
                                <div class="articleSource">
                                    <a th:text="${source}" th:href="${source}"></a>
                                    <!-- <iframe th:src="${source}" class="preview"></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article th:if="${#strings.substring(business.animalsScore,0,3) != '0.0'}" id="animalSec" style="display:none">
                    <div class="statsTop">
                        <div class="substatCircle">
                            <h6 th:if="${#strings.substring(business.animalsScore,0,3) != '0.0'}" th:text = "${#strings.substring(business.animalsScore,0,3)}"></h6>
                            <p th:if="${#strings.substring(business.animalsScore,0,3) != '0.0'}">/10</p>
                            <h6 th:if="${#strings.substring(business.animalsScore,0,3) == '0.0'}">N/A</h6>
                        </div>
                        <div>
                            <h3>Animal Statistics</h3>
                            <span id="animalDesc">
                                <p>The Animal Rights score was produced <span id="manualscore">from multiple sources including animal welfare certification datasets, articles, and directories</span>.</p>
                                <ul class="subscoreCertifications">
                                    <li id="subscore-certifiedHumane"><a href="https://certifiedhumane.org/whos-certified-2" target="_blank">Certified Humane</a></li>
                                    <li id="subscore-veganDotOrg"><a href="https://vegan.org/companies-using-our-logo" target="_blank">Certified Vegan</a></li>
                                    <li id="subscore-chooseCrueltyFree"><a href="https://www.choosecrueltyfree.org.au/licensed-companies" target="_blank">Choose Cruelty Free</a></li>
                                    <li id="subscore-ethicalElephant"><a href="https://ethicalelephant.com/cruelty-free-brand-list" target="_blank">Ethical Elephant</a></li>
                                    <li id="subscore-leapingBunny"><a href="https://www.leapingbunny.org/guide/brands" target="_blank">Leaping Bunny</a></li>
                                </ul><br>
                                <p>These sources focus on materials used, testing practices, and if the products are vegan or vegetarian.
                                Only reputable sources are considered in the process. In future updates, we will be detailing these scores more specifically 📈. 
                                <span id="followingsourcesdesc">For this particular source, we've pulled data from the following sources:</span></p>
                            </span>
                        </div>
                    </div>
                    <div class="statsBottom">
                        <h3>Sources</h3>
                        <div th:if="${business.animalScoreSource[0]} != ''">
                            <div th:each="source : ${business.animalScoreSource}" class="articleList">
                                <div class="articleSource">
                                    <a th:text="${source}" th:href="${source}"></a>
                                    <!-- <iframe th:src="${source}" class="preview"></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article th:if="${#strings.substring(business.socialScore,0,3) != '0.0'}" id="socialSec" style="display:none">
                    <div class="statsTop">
                        <div class="substatCircle">
                            <h6 th:if="${#strings.substring(business.socialScore,0,3) != '0.0'}" th:text = "${#strings.substring(business.socialScore,0,3)}"></h6>
                            <p th:if="${#strings.substring(business.socialScore,0,3) != '0.0'}">/10</p>
                            <h6 th:if="${#strings.substring(business.socialScore,0,3) == '0.0'}">N/A</h6>
                        </div>
                        <div>
                            <h3>Social Statistics</h3>
                            <p id="socialDesc">The Social score was produced manually using public data and trusted news sources. Social scores cover topics like its response to racism, how their practices effect people of color, if they’ve been caught up in exploitation
                                lawsuits, etc.<br><br> Data is drawn from multiple sources including certification datasets, articles, and directories. Only reputable sources are considered in the process. In future updates, we will be detailing these
                                scores more specifically 📈</p>
                        </div>
                    </div>
                    <div class="statsBottom">
                        <h3>Sources</h3>
                        <div th:if = "${business.socialScoreSource[0]} != ''">
                            <div th:each="source : ${business.socialScoreSource}" class="articleList">
                                <div class="articleSource">
                                    <a th:text="${source}" th:href="${source}"></a>
                                    <!-- <iframe th:src="${source}" class="preview"></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <ul class="socials">
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <aside>
                <a href="http://blog.ethicli.com" target="_blank">Blog</a>
                <a href="https://cash.app/$Ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
                <a href="/faq" target="_blank">FAQ</a>
                <a href="/about">About Us</a>
                <a href="/privacy" target="_blank">Privacy Policy</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright 2020</p>
            </div>
            <p id="california">Made in California with ♥</p>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental, ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability, sustainable
            production, labor practice, practices</p>
    </div>
    <script src="../info.js" rel="text/javascript"></script>
    <script src="../stylescripts/info-script.js" rel="text/javascript"></script>
</body>

</html>
