<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173025073-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-173025073-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Ethicli • Press Kit">
    <meta property="og:site_name" content="Ethicli">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.ethicli.com/">
    <meta property="og:image" content="https://ethicli.com/images/website-screenshot.jpg">
    <meta property="og:description"
        content="Ethicli suggests better products while you shop by scoring how the product affects our workers,
        planet, and community. Use our free browser extension to effortlessly shop from more ethical,
        green, and smaller businesses!">
    <title>Ethicli • Press</title>
    <link rel="icon" type="image/png" href="images/favicon-48x48.png">
    <link href="stylescripts/reset.css" rel="stylesheet">
    <link href="stylescripts/style.css" rel="stylesheet">
    <link href="stylescripts/about.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body id="press">
    <button id="mainCTA"><a href="https://forms.gle/DTXjTUsTfb1xjg5UA" target="_blank">Be a Beta Tester!</a></button>
    <nav>
        <div class="container">
            <a href="/" id="logo"><img src="images/ethicli-logo.png" alt="Extension image in Header"></a>
            <div id="navlinks">
                <img src="images/menu.svg" alt="triplebar" height="50" width="50" id="triplebar">
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="/shops">Shops</a>
                <a href="/faq">FAQ</a>
                <a href="/about">About Us</a>
                <div class="dropdownMenu">
                    <a>Download <span class="dropdownIcon">▾</span></a>
                    <div class="submenu">
                        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Chrome</a>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli/?src=search" target="_blank">Firefox</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <header id="top">
        <div class="container">
            <h1><span class="colorDark">Press</span> <span class="colorBlue">Kit</span></h1>
            <div>
                <p>What is included in this Electronic Press Kit</p>
                <ul>
                    <li>1. <a href="#companyBackground">Company Background</a></li>
                    <li>2. <a href="#staffBios">Management/Staff Bios</a></li>
                    <li>3. <a href="#noteworthyStats">Noteworthy Statistics</a></li>
                    <li>4. <a href="#socialmedia">Social Media</a></li>
                    <li>5. <a href="#digitalArt">Media Assets</a></li>
                    <li>6. <a href="#contactInfo">Contact Information</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div class="basicbody">
        <div class="container">
            <section id="companyBackground">
                <h3>Company Background</h3>
                <p>Ethicli is a free browser extension that makes ethical shopping easier by
                    providing you with company ethics info and ethical product suggestions.</p>
                <p>Our goal is to make it easier and therefore encourage people to shop ethically, which will pressure
                    the entire industry to behave more ethically. We believe people want to do the right thing and
                    support companies that align with their values and they just need a little bit of help.</p>
                <p>No one has the time or energy to research the ethics of every company they shop from and every product they buy.
                    So we built Ethicli to show a simple score out of 10 that you can see at a glance to the corner of your screen.
                    And you can click through to see more detailed information about why a company got that score.
                    So now you know how ethical a company is, but what now? If you find yourself on a less ethical shop site,
                    we will show an ethical product alternative so that you can get the same product you're already shopping for from a more ethical company.</p>
                <p>Download Ethicli for <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl/overview" target="_blank">Chrome</a>
                    or <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Firefox</a>.</p>
                <p>Full blog article Introducing Ethicli <a href="https://team-ethicli.medium.com/introducing-ethicli-a6eaf55434b5" target="_blank">here</a>.</p>
                <h4>How It Started...</h4>
                <p>Ethicli was started in May of 2020 after Billy T. became dissatisfied with how difficult it was to find ethical alternatives.
                    Nervously, he gathered a team of three other really nice, driven, and ethically minded people.
                    The team quickly got to work and has put thousands of hours into making Ethicli a reality.
                    We hope that with your support, Ethicli will grow and push companies to adopt more ethical practices.</p>
            </section>

            <section id="staffBios">
                <h3>Management/Staff Bios</h3>
                <p>The Ethicli team works remotely from the state of California, USA.</p>
                <section id="team">
                    <article>
                        <span><img src="images/billy.jpg" alt="Billy T."><span>🖥️</span></span><h3>Billy T. Hernandez</h3>
                        <p>Computer Science Major at Sacramento State University with a passion for the environment. Manages process, timeline, and contributes to the full code stack.</p>
                    </article>
                    <article>
                        <span><img src="images/amy.jpg" alt="Amy"><span>🌱</span></span><h3>Amy Tims</h3>
                        <p>Conservationist focused on resource equity. Helps decide how data are weighed in the overall score, and liasons with ethical companies and users.</p>
                    </article>
                    <article>
                        <span><img src="images/linda.jpg" alt="Linda"><span>🎨</span></span><h3>Linda Huang</h3>
                        <p>Web designer interested in sustainability. Develops website, front-end extension design, marketing materials, and branding.</p>
                    </article>
                    <article>
                        <span><img src="images/cosmo.jpg" alt="Cosmo"><span>📁</span></span><h3>Cosmo Stevens</h3>
                        <p>Computer Science Major at Sacramento State University. Develops data retrieval algorithms and backend.</p>
                    </article>
                </section>
            </section>

            <section id="noteworthyStats">
                <h3>Noteworthy Statistics</h3>
                <ul>
                    <li>Ethicli has diverted over $700 to more ethical companies</li>
                    <li>Over 7,000 businesses scored</li>
                    <li>Over 100 users</li>
                </ul>
            </section>

            <section id="socialmedia">
                <h3>Social Media</h3>
                <h4>Social Media Sample Posts</h4>
                <p>You can find sample share-able descriptions below if you'd like to share Ethicli.
                    We've also included a graphic you can post when you download our media assets. Happy sharing!</p>
                <div class="gallery">
                    <img src="images/social-instafeed.jpg" alt="Instagram Feed Example">
                    <img src="images/social-square.jpg" alt="Social Media Square">
                </div>
                <p><em>Sample 1:</em> Ethicli is a free browser extension that makes ethical shopping easier by providing
                    you with company ethics info and ethical product suggestions. Check them out at https://ethicli.com</p>
                <p><em>Sample 2:</em> We all want to make purchases that align with our values. So whether it’s recommending
                    jeans made from sustainably-sourced fabric, or exchanging coffee beans in your cart for ones from a Black-owned business,
                    Ethicli’s got your back. Join the movement for tangible economic, social, and environmental solutions at https://ethicli.com</p>
            </section>

            <section id="digitalArt">
                <h3>Media Assets</h3>
                <p>Please use the download link below to get the full high quality assets. Some sample assets are shown below.</p>
                <a class="featuredButton" href="documents/Ethicli-MediaAssets.zip" download>Download Media Assets</a>
                <div class="gallery mediaAssets">
                    <img src="images/ethicli-in-use.jpg" alt="Ethicli in use">
                    <img src="images/infopage.jpg" alt="Info page">
                    <img src="images/extension.jpg" alt="Extension">
                    <img src="images/ethicli-logo.png" alt="Ethicli logo">
                    <img src="images/plantdude-og.png" alt="Plant dude">
                    <img src="images/shoppingbag.svg" alt="Shoppping bag">
                </div>
            </section>

            <section id="contactInfo">
                <h3>Contact Information</h3>
                <p><em>Email Address</em>: <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank">hello@ethicli.com</a></p>
            </section>
        </div>
    </div>

    <footer>
        <div class="container">
            <ul class="socials">
                <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
                <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <aside>
                <a href="https://team-ethicli.medium.com/" target="_blank">Blog</a>
                <a href="https://ko-fi.com/ethicli" target="_blank">Donate</a>
                <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
                <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
                <a href="/shops">Shops</a>
                <a href="/faq">FAQ</a>
                <a href="/about">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a>Press</a>
            </aside>
            <div>
                <button id="backToTop"><a href="#top">Back to Top</a></button>
                <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright <span id="currentYear"></span></p>
            </div>
            <p id="california">Made in California with ♥</p>
        </div>
    </footer>

    <div style="display:none;">
        <p id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
            ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
            sustainable production, labor practice, practices</p>
    </div>
    <script src="stylescripts/script.js" rel="text/javascript"></script>
</body>

</html>
