<div class="container">
    <ul class="socials">
        <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#101;&#116;&#104;&#105;&#099;&#108;&#105;&#046;&#099;&#111;&#109;?subject=Ethicli%20Inquiry" target="_blank"><i class="fa fa-envelope"></i></a>
        <li><a href="https://www.instagram.com/shop.ethicli/" target="_blank" class="social-icon"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/Shop_Ethicli" target="_blank" class="social-icon"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/53190571/" target="_blank" class="social-icon"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.reddit.com/r/Ethicli/" target="_blank" class="social-icon"><i class="fa fa-reddit-alien"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCQzNn6xFwj_Udx0LC0ESMtg" target="_blank"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/Ethicli-103112784758042/?view_public_for=103112784758042" target="_blank" class="social-icon"><i class="fa fa-facebook"></i></a></li>
    </ul>
    <aside>
        <a href="/advertise">Advertise on Ethicli</a>
        <a href="https://blog.ethicli.com" target="_blank">Blog</a>
        <a href="https://paypal.me/HelloEthicli" target="_blank">Donate</a>
        <a href="https://chrome.google.com/webstore/detail/ethicli/pkbciefpddgopoopoffffnnfobiofagl" target="_blank">Download for Chrome</a>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/ethicli" target="_blank">Download for Firefox</a>
        <a href="/shops">Shops</a>
        <a href="/partners">Partners</a>
        <a href="/faq">FAQ</a>
        <a href="/team">Meet the team</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/press">Press</a>
    </aside>
    <div>
        <button id="backToTop"><a href="#top">Back to Top</a></button>
        <p><a>Terms of Use</a><span id="termsBar"> |</span> <br class="break">Copyright <span id="currentYear"></span></p>
    </div>
    <p id="california">Made in California with ♥</p>
</div>

<p style="display:none;" id="SEOKeywords">browser, chrome, consumer responsibility, corporate accountability, design, design thinking, environmental,
ethical consumerism, ethically, ethical Fashion, extension, online, onlineshopping, shop, shopping, startup, sustainability,
sustainable production, labor practice, practices</p>

<script>
    $("#currentYear").text(new Date().getFullYear()); // updates copyright with current year
</script>
